@font-face {
  font-family: "QuattrocentoSans-Regular";
  src: url(../fonts/QuattrocentoSans-Regular.ttf);
}
@font-face {
  font-family: "QuattrocentoSans-Bold";
  src: url(../fonts/QuattrocentoSans-Bold.ttf);
}
@font-face {
  font-family: "LRT Oksana Bold Italic";
  src: url(../fonts/LRTOksanaBoldItalic.ttf);
}
@font-face {
  font-family: "LRT Oksana Bold";
  src: url(../fonts/LRTOksanaBold.ttf);
}
@font-face {
  font-family: "LRT Oksana Italic";
  src: url(../fonts/LRTOksanaItalic.ttf);
}
@font-face {
  font-family: "LRT Oksana";
  src: url(../fonts/LRTOksana.ttf);
}
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/*....................HEADER-ADMIN INCLUDE....................*/
/*.....section logo + nav.....*/
#side-bar {
  max-width: 1600px;
  width: 20%;
  height: 100vw;
  position: fixed;
  background-color: #858585;
}
#side-bar > #logo > img {
  width: 100%;
}
#side-bar > #menu-admin {
  width: 100%;
}
#side-bar > #menu-admin > nav {
  max-width: 500px;
}
#side-bar > #menu-admin > nav > ul {
  width: 100%;
}
#side-bar > #menu-admin > nav > ul > li {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #AAAAAA;
  border-bottom: 1px solid black;
}
#side-bar > #menu-admin > nav > ul > li > img {
  width: 32px;
  height: 32px;
}
#side-bar > #menu-admin > nav > ul > li > a {
  width: 150px;
  color: black;
  font-size: 1.3rem;
  font-family: "QuattrocentoSans-Regular", sans-serif;
  text-align: center;
}

/*.....fin.....*/
/*.....header + icones.....*/
.corp {
  width: 80%;
  height: 100vw;
  float: right;
  background-color: #c8c8c8;
  /*....................FIN.CSS.HEADER-ADMIN.DASHBOARD....................*/
  /*....................CSS.TABLEAU.DE.BORD....................*/
  /*....................FIN.TABLEAU.DE.BORD....................*/
  /*....................CSS.ARTICLES....................*/
  /*....................FIN.CSS.ARTICLES....................*/
  /*....................CSS.FORMULAIRE.AJOUT.LIVRE....................*/
  /*....................FIN.FORMULAIRE.AJOUT.LIVRE....................*/
  /*....................CSS.FORMULAIRE.MODIF.LIVRE....................*/
  /*....................FIN.FORMULAIRE.MODIF.LIVRE....................*/
  /*....................CSS.CATEGORIES....................*/
  /*....................FIN.CSS.CATEGORIES....................*/
  /*....................CSS.EDIT.CATEGORIES....................*/
  /*....................FIN.EDIT.CATEGORIES....................*/
  /*....................CSS.GENRES....................*/
  /*....................FIN.CSS.GENRES....................*/
  /*....................CSS.EDIT.GENRE....................*/
  /*....................FIN.EDIT.GENRE....................*/
  /*....................CSS.USER....................*/
  /*....................CSS.USER.FIN....................*/
  /*....................CSS.USER.MODIFICATION....................*/
  /*....................CSS.NEWSLETTER....................*/
}
.corp > #headerDashboard {
  width: 100%;
  height: 130px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: white;
}
.corp > #headerDashboard > .notif {
  width: 32px;
  height: 32px;
  margin: 50px 10px;
}
.corp > #headerDashboard > .notif:hover {
  cursor: pointer;
}
.corp > #headerDashboard > p {
  margin-top: 55px;
}
.corp > .multitaches {
  width: 100%;
  height: 100vw;
  background-color: #c8c8c8;
}
.corp > .multitaches > .multiTitre {
  width: 100%;
  padding-top: 40px;
  text-transform: uppercase;
  text-align: center;
  font-size: 4rem;
  font-family: "LRT Oksana Bold", sans-serif;
}
.corp .multitaches > #compteurEtGraphique {
  width: 1000px;
  height: 120px;
  margin-top: 25px;
  margin-left: 25px;
}
.corp .multitaches > #titreAjout {
  width: 100%;
  margin: 25px auto;
  text-transform: uppercase;
  text-align: center;
}
.corp .multitaches > .dernierAjout {
  width: 950px;
  height: 49px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
  background-color: #AAAAAA;
  margin: 10px auto;
}
.corp .multitaches > .dernierAjout > h3 {
  width: 450px;
}
.corp .multitaches > .dernierAjout > .dernierAjoutMQ {
  width: 150px;
}
.corp .multitaches > .dernierAjout > .dernierAjoutMQ > p {
  width: 100%;
}
.corp .multitaches > .dernierAjout > #bouton {
  width: 150px;
  margin-right: 10px;
}
.corp .multitaches > #articleSearchAjout {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 50px;
  margin: 0 auto;
  padding-top: 20px;
}
.corp .multitaches > #articleSearchAjout > form {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}
.corp .multitaches > #articleSearchAjout > form > .recherche {
  padding-left: 10px;
  border: 0;
  border-radius: 100px;
  width: 300px;
  height: 50px;
}
.corp .multitaches > #articleSearchAjout > form > button {
  width: 50px;
  height: 50px;
  border: 0;
  border-radius: 100px;
  margin-left: -50px;
  margin-right: 50px;
  cursor: pointer;
}
.corp .multitaches > #articleSearchAjout > a {
  width: 300px;
  margin-top: 50px;
  color: rgb(22, 20, 20);
  font-size: 1.2rem;
  text-align: center;
  border: 1px solid white;
  border-radius: 25px;
  background-color: #FFDAA4;
}
.corp .multitaches > .sousTitre {
  width: 200px;
  margin: 30px auto;
}
.corp .multitaches > .articleList {
  width: 950px;
  height: 49px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
  background-color: #AAAAAA;
  margin: 10px auto;
}
.corp .multitaches > .articleList > h3 {
  width: 450px;
}
.corp .multitaches > .articleList > .dernierAjoutMQ {
  width: 150px;
}
.corp .multitaches > .articleList > .dernierAjoutMQ > p {
  width: 100%;
}
.corp .multitaches > .articleList > #bouton {
  width: 250px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.corp .multitaches > #formulaireAjout {
  width: 90%;
  margin: 0 auto;
  background-color: #FFF5EE;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 50px;
  margin-top: 20px;
}
.corp .multitaches > #formulaireAjout > #formGauche {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.corp .multitaches > #formulaireAjout > #formGauche > .titre-auteur {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.corp .multitaches > #formulaireAjout > #formGauche > .titre-auteur > .tripleInput {
  width: 320px;
  height: 50px;
  margin-top: 50px;
  border: 0;
  border-radius: 50px;
  background-color: #FFDAA4;
  padding-left: 10px;
}
.corp .multitaches > #formulaireAjout > #formGauche > .edition-date {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.corp .multitaches > #formulaireAjout > #formGauche > .edition-date > .editeur {
  width: 320px;
  margin-top: 50px;
}
.corp .multitaches > #formulaireAjout > #formGauche > .edition-date > .editeur > #editor {
  width: 320px;
  height: 50px;
  border: 0;
  border-radius: 50px;
  background-color: #FFDAA4;
  padding-left: 10px;
}
.corp .multitaches > #formulaireAjout > #formGauche > .edition-date > .genreChoice {
  width: 320px;
  margin-top: 50px;
}
.corp .multitaches > #formulaireAjout > #formGauche > .edition-date > .genreChoice > #genre {
  width: 320px;
  height: 50px;
  border: 0;
  border-radius: 50px;
  background-color: #FFDAA4;
  padding-left: 10px;
}
.corp .multitaches > #formulaireAjout > #formGauche > .edition-date > .collectChoice {
  width: 320px;
  margin-top: 50px;
}
.corp .multitaches > #formulaireAjout > #formGauche > .edition-date > .collectChoice > #collection {
  width: 320px;
  height: 50px;
  border: 0;
  border-radius: 50px;
  background-color: #FFDAA4;
  padding-left: 10px;
}
.corp .multitaches > #formulaireAjout > .formMilieu {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 100px;
}
.corp .multitaches > #formulaireAjout > .formMilieu > .select {
  width: 320px;
  margin-top: 50px;
}
.corp .multitaches > #formulaireAjout > .formMilieu > .select > .selectCategory {
  width: 90px;
  height: 50px;
  margin-top: 15px;
}
.corp .multitaches > #formulaireAjout > .formMilieu > .select > #id_category {
  width: 160px;
  height: 50px;
  border: 0;
  border-radius: 50px;
  background-color: #FFDAA4;
  padding-left: 10px;
}
.corp .multitaches > #formulaireAjout > .formMilieu > .ajoutDate {
  width: 320px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}
.corp .multitaches > #formulaireAjout > .formMilieu > .ajoutDate > .publication {
  width: 90px;
  height: 50px;
  margin-top: 15px;
}
.corp .multitaches > #formulaireAjout > .formMilieu > .ajoutDate > .date {
  width: 120px;
  height: 50px;
  border: 0;
  border-radius: 50px;
  background-color: #FFDAA4;
  padding-left: 10px;
  padding-right: 10px;
}
.corp .multitaches > #formulaireAjout > .formMilieu > .imageChoice {
  width: 320px;
  margin-top: 25px;
  margin-left: 5px;
}
.corp .multitaches > #formulaireAjout > .formMilieu > .imageChoice > .image {
  width: 90px;
  height: 50px;
  margin-top: 15px;
}
.corp .multitaches > #formulaireAjout > .formMilieu > .imageChoice > #image {
  width: 160px;
  height: 50px;
  border: 0;
  border-radius: 50px;
  background-color: #FFDAA4;
  padding-left: 10px;
}
.corp .multitaches > #formulaireAjout > .formDroite {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.corp .multitaches > #formulaireAjout > .formDroite > .resume {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
}
.corp .multitaches > #formulaireAjout > .formDroite > .resume > #summary {
  width: 320px;
  height: 400px;
  resize: none;
  margin-top: 10px;
  border: 1px solid #FFDAA4;
  border-radius: 10px;
  padding: 5px 5px;
}
.corp .multitaches > #formulaireAjout > .formDroite > input {
  width: 200px;
  height: 50px;
  border-radius: 50px;
  background-color: #696969;
  cursor: pointer;
  color: #26F904;
}
.corp .multitaches > #formulaireModif {
  width: 90%;
  margin: 0 auto;
  background-color: #FFF5EE;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 50px;
  margin-top: 20px;
}
.corp .multitaches > #formulaireModif > #formGauche {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.corp .multitaches > #formulaireModif > #formGauche > .titre-auteur {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.corp .multitaches > #formulaireModif > #formGauche > .titre-auteur > .tripleInput {
  width: 320px;
  height: 50px;
  margin-top: 50px;
  border: 0;
  border-radius: 50px;
  background-color: #FFDAA4;
  padding-left: 10px;
}
.corp .multitaches > #formulaireModif > #formGauche > .edition-date {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.corp .multitaches > #formulaireModif > #formGauche > .edition-date > .editeur {
  width: 320px;
  margin-top: 50px;
}
.corp .multitaches > #formulaireModif > #formGauche > .edition-date > .editeur > #editor {
  width: 320px;
  height: 50px;
  border: 0;
  border-radius: 50px;
  background-color: #FFDAA4;
  padding-left: 10px;
}
.corp .multitaches > #formulaireModif > #formGauche > .edition-date > .genreChoice {
  width: 320px;
  margin-top: 50px;
}
.corp .multitaches > #formulaireModif > #formGauche > .edition-date > .genreChoice > #genre {
  width: 320px;
  height: 50px;
  border: 0;
  border-radius: 50px;
  background-color: #FFDAA4;
  padding-left: 10px;
}
.corp .multitaches > #formulaireModif > #formGauche > .edition-date > .collectChoice {
  width: 320px;
  margin-top: 50px;
}
.corp .multitaches > #formulaireModif > #formGauche > .edition-date > .collectChoice > #collection {
  width: 320px;
  height: 50px;
  border: 0;
  border-radius: 50px;
  background-color: #FFDAA4;
  padding-left: 10px;
}
.corp .multitaches > #formulaireModif > .formMilieu {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 100px;
}
.corp .multitaches > #formulaireModif > .formMilieu > .select {
  width: 320px;
  margin-top: 50px;
}
.corp .multitaches > #formulaireModif > .formMilieu > .select > .selectCategory {
  width: 90px;
  height: 50px;
  margin-top: 15px;
}
.corp .multitaches > #formulaireModif > .formMilieu > .select > #id_category {
  width: 160px;
  height: 50px;
  border: 0;
  border-radius: 50px;
  background-color: #FFDAA4;
  padding-left: 10px;
}
.corp .multitaches > #formulaireModif > .formMilieu > .ajoutDate {
  width: 320px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}
.corp .multitaches > #formulaireModif > .formMilieu > .ajoutDate > .publication {
  width: 90px;
  height: 50px;
  margin-top: 15px;
}
.corp .multitaches > #formulaireModif > .formMilieu > .ajoutDate > .date {
  width: 120px;
  height: 50px;
  border: 0;
  border-radius: 50px;
  background-color: #FFDAA4;
  padding-left: 10px;
  padding-right: 10px;
}
.corp .multitaches > #formulaireModif > .formMilieu > .imageChoice {
  width: 320px;
  margin-top: 25px;
  margin-left: 5px;
}
.corp .multitaches > #formulaireModif > .formMilieu > .imageChoice > .image {
  width: 90px;
  height: 50px;
  margin-top: 15px;
}
.corp .multitaches > #formulaireModif > .formMilieu > .imageChoice > #image {
  width: 160px;
  height: 50px;
  border: 0;
  border-radius: 50px;
  background-color: #FFDAA4;
  padding-left: 10px;
}
.corp .multitaches > #formulaireModif > .formDroite {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.corp .multitaches > #formulaireModif > .formDroite > .resume {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
}
.corp .multitaches > #formulaireModif > .formDroite > .resume > #summary {
  width: 320px;
  height: 400px;
  resize: none;
  margin-top: 10px;
  border: 1px solid #FFDAA4;
  border-radius: 10px;
  padding: 5px 5px;
}
.corp .multitaches > #formulaireModif > .formDroite > input {
  width: 200px;
  height: 50px;
  border-radius: 50px;
  background-color: #696969;
  cursor: pointer;
  color: #26F904;
}
.corp .multitaches > #ajoutCategorie {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
}
.corp .multitaches > #ajoutCategorie > .ajout {
  width: 700px;
  height: 100px;
  background-color: #FFDAA4;
  border-radius: 15px;
  box-shadow: 1px 1px 10px 1px grey;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  justify-items: center;
  flex-wrap: wrap;
}
.corp .multitaches > #ajoutCategorie > .ajout > .newCat {
  width: 200px;
  height: 50px;
  border: 0;
  border-radius: 25px;
  text-align: center;
  font-size: 1.1rem;
}
.corp .multitaches > #ajoutCategorie > .ajout > .slugCat {
  width: 200px;
  height: 50px;
  border: 0;
  border-radius: 25px;
  text-align: center;
  font-size: 1.1rem;
}
.corp .multitaches > #ajoutCategorie > .ajout > .subCat {
  width: 150px;
  height: 50px;
  text-transform: uppercase;
  border: 0;
  border-radius: 10px;
  font-size: 1.1rem;
  color: white;
  background-color: #696969;
  cursor: pointer;
}
.corp .multitaches > .categorieList {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 50px;
  flex-wrap: wrap;
}
.corp .multitaches > .categorieList > .unite {
  width: 300px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  background-color: #AAAAAA;
  border: 1px solid black;
  margin: 10px 10px;
}
.corp .multitaches > .titleEditCategory {
  width: 500px;
  padding-top: 100px;
  margin: auto;
}
.corp .multitaches > #editCategorie {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}
.corp .multitaches > #editCategorie > .edit {
  width: 700px;
  height: 100px;
  background-color: #FFDAA4;
  border-radius: 15px;
  box-shadow: 1px 1px 10px 1px grey;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  justify-items: center;
}
.corp .multitaches > #editCategorie > .edit > .editCat {
  width: 200px;
  height: 50px;
  border: 0;
  border-radius: 25px;
  text-align: center;
  font-size: 1.1rem;
}
.corp .multitaches > #editCategorie > .edit > .editSlugCat {
  width: 200px;
  height: 50px;
  border: 0;
  border-radius: 25px;
  text-align: center;
  font-size: 1.1rem;
}
.corp .multitaches > #editCategorie > .edit > .subEditCat {
  width: 150px;
  height: 50px;
  text-transform: uppercase;
  border: 0;
  border-radius: 10px;
  font-size: 1.1rem;
  color: white;
  background-color: #696969;
  cursor: pointer;
}
.corp .multitaches > #ajoutGenre {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
}
.corp .multitaches > #ajoutGenre > .ajout {
  width: 700px;
  height: 100px;
  background-color: #FFDAA4;
  border-radius: 15px;
  box-shadow: 1px 1px 10px 1px grey;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  justify-items: center;
}
.corp .multitaches > #ajoutGenre > .ajout > .newGenre {
  width: 200px;
  height: 50px;
  border: 0;
  border-radius: 25px;
  text-align: center;
  font-size: 1.1rem;
}
.corp .multitaches > #ajoutGenre > .ajout > .slugGenre {
  width: 200px;
  height: 50px;
  border: 0;
  border-radius: 25px;
  text-align: center;
  font-size: 1.1rem;
}
.corp .multitaches > #ajoutGenre > .ajout > .subGenre {
  width: 150px;
  height: 50px;
  text-transform: uppercase;
  border: 0;
  border-radius: 10px;
  font-size: 1.1rem;
  color: white;
  background-color: #696969;
  cursor: pointer;
}
.corp .multitaches > .genreList {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 50px;
  flex-wrap: wrap;
}
.corp .multitaches > .genreList > .unite {
  width: 300px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  background-color: #AAAAAA;
  border: 1px solid black;
  margin: 10px 10px;
}
.corp .multitaches > .titleEditGenre {
  width: 500px;
  padding-top: 100px;
  margin: auto;
}
.corp .multitaches > #sectionEditGenre {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}
.corp .multitaches > #sectionEditGenre > .edit {
  width: 700px;
  height: 100px;
  background-color: #FFDAA4;
  border-radius: 15px;
  box-shadow: 1px 1px 10px 1px grey;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  justify-items: center;
}
.corp .multitaches > #sectionEditGenre > .edit > .editGenre {
  width: 200px;
  height: 50px;
  border: 0;
  border-radius: 25px;
  text-align: center;
  font-size: 1.1rem;
}
.corp .multitaches > #sectionEditGenre > .edit > .editSlugGenre {
  width: 200px;
  height: 50px;
  border: 0;
  border-radius: 25px;
  text-align: center;
  font-size: 1.1rem;
}
.corp .multitaches > #sectionEditGenre > .edit > .subEditGenre {
  width: 150px;
  height: 50px;
  text-transform: uppercase;
  border: 0;
  border-radius: 10px;
  font-size: 1.1rem;
  color: white;
  background-color: #696969;
  cursor: pointer;
}
.corp .multitaches > #userMenu {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 40px;
  padding-top: 50px;
}
.corp .multitaches > #userMenu > .userSearch {
  display: flex;
  flex-direction: row;
}
.corp .multitaches > #userMenu > .userSearch > .recherche {
  border: 0;
  border-radius: 100px;
  width: 300px;
  height: 50px;
  text-align: center;
}
.corp .multitaches > #userMenu > .userSearch > button {
  width: 50px;
  height: 50px;
  border: 0;
  border-radius: 100px;
  margin-left: -50px;
  margin-right: 50px;
  cursor: pointer;
}
.corp .multitaches > #tableUser {
  width: 100%;
  margin-top: 50px;
  text-align: center;
}
.corp .multitaches > #tableUser > thead {
  background-color: #696969;
  height: 50px;
  font-size: 1.1rem;
}
.corp .multitaches > #tableUser > tbody > .contenuUser {
  background-color: #FFE7D6;
  height: 50px;
  font-size: 1.1rem;
}
.corp .multitaches > #tableUser > tbody > .tdButton {
  height: 50px;
}
.corp .multitaches > #tableUser > tbody > .tdButton > td {
  height: 50px;
  font-size: 1.1rem;
}
.corp .multitaches > #tableUser > tbody > .tdButton > td > button {
  width: 100%;
  height: 50px;
  background-color: #696969;
  border-radius: 10px;
  border: 0;
  margin-top: 10px;
}
.corp .multitaches > #tableUser > tbody > .tdButton > td > button > a {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: black;
  font-size: 1.1rem;
}
.corp .multitaches > .newsLetter {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.corp .multitaches > .newsLetter > textarea {
  width: 1000px;
  height: 400px;
  resize: none;
  padding: 10px 10px;
  border-radius: 5px;
  border: 1px solid #c8c8c8;
  box-shadow: 0 0 10px 1px;
}
.corp .multitaches > .newsLetter > button {
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-transform: uppercase;
  border: 0;
  border-radius: 10px;
  background-color: #696969;
  margin-top: 20px;
}
.corp .multitaches > .newsLetter > button > a {
  color: black;
}

/*....................CSS.CONNEXION....................*/
#sideVide {
  max-width: 500px;
  width: 25%;
  height: 100vw;
  position: fixed;
  background-color: #858585;
}
#sideVide > #logo > img {
  width: 100%;
  border-bottom: 1px solid black;
}

.bodyConnexion {
  max-width: 1300px;
  width: 75%;
  height: 100 vw;
  float: right;
}
.bodyConnexion > .connexion {
  width: 500px;
  height: 350px;
  border-radius: 15px;
  margin-top: 200px;
  margin-left: 350px;
  background-color: #FFDAA4;
}
.bodyConnexion > .connexion > .Titre {
  width: 100%;
  padding-top: 20px;
  text-transform: uppercase;
  text-align: center;
}
.bodyConnexion > .connexion > #mail,
.bodyConnexion > .connexion #pass {
  width: 300px;
  height: 50px;
  margin: 30px 100px;
}
.bodyConnexion > .connexion > #mail > input,
.bodyConnexion > .connexion #pass > input {
  width: 300px;
  height: 50px;
  border-radius: 50px;
  border: 0;
  background-color: white;
  padding-left: 10px;
  margin-top: 20px;
}
.bodyConnexion > .connexion > #connect {
  width: 100px;
}
.bodyConnexion > .connexion > #connect > button {
  width: 100px;
  height: 25px;
  margin: 50px 200px;
  box-shadow: 1px 1px 10px 1px grey;
  background-color: #81D9E5;
  border: 0;
  border-radius: 20px;
}
.bodyConnexion > .connexion > #connect > button:hover {
  cursor: pointer;
}

/*....................FIN.CSS.CONNEXION....................*/
/*....................MEDIA.QUERIES....................*/
@media screen and (min-width: 1260px) {
  body {
    background-color: #c8c8c8;
  }
  body #side-bar {
    max-width: 1200px;
    width: 20%;
  }
  body #side-bar > #menu-admin > nav > ul > li > a {
    color: black;
    font-size: 1.3rem;
    font-family: "QuattrocentoSans-Regular", sans-serif;
  }
  body > .corp {
    width: 80%;
  }
  body > .corp > .multitaches {
    width: 100%;
  }
  body > .corp > .multitaches > .multiTitre {
    font-size: 2rem;
  }
}
@media screen and (max-width: 1260px) and (min-width: 900px) {
  body {
    background-color: #c8c8c8;
  }
  body #side-bar {
    max-width: 1200px;
    width: 20%;
  }
  body #side-bar > #menu-admin {
    width: 100%;
  }
  body #side-bar > #menu-admin > nav {
    width: 100%;
  }
  body #side-bar > #menu-admin > nav > ul {
    width: 100%;
  }
  body #side-bar > #menu-admin > nav > ul > li {
    width: 100%;
  }
  body #side-bar > #menu-admin > nav > ul > li > img {
    margin-left: 10%;
  }
  body #side-bar > #menu-admin > nav > ul > li > a {
    width: 100%;
    font-size: 1rem;
    font-family: "QuattrocentoSans-Regular", sans-serif;
  }
  body > .corp {
    width: 80%;
  }
  body > .corp > .multitaches {
    width: 100%;
    /*tableau de bord*/
    /*page article*/
    /*formulaire ajout de livre*/
    /*formulaire modification livre*/
    /*liste user*/
    /*newsletter*/
  }
  body > .corp > .multitaches > .multiTitre {
    font-size: 2rem;
  }
  body > .corp > .multitaches > #compteurEtGraphique {
    display: none;
  }
  body > .corp > .multitaches > .dernierAjout {
    width: 420px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px auto;
  }
  body > .corp > .multitaches > .dernierAjout > h3 {
    width: 420px;
    text-align: center;
    padding-left: 0;
    font-size: 1rem;
    justify-content: center;
  }
  body > .corp > .multitaches > .dernierAjout > .dernierAjoutMQ {
    width: 420px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    font-size: 1rem;
  }
  body > .corp > .multitaches > .dernierAjout > #bouton {
    width: 420px;
    text-align: center;
  }
  body > .corp > .multitaches > #articleSearchAjout {
    width: 85%;
  }
  body > .corp > .multitaches > .articleList {
    width: 420px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px auto;
    text-align: center;
  }
  body > .corp > .multitaches > .articleList > h3 {
    width: 420px;
    padding-left: 0;
    text-align: center;
  }
  body > .corp > .multitaches > .articleList > .dernierAjoutMQ {
    width: 420px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1rem;
  }
  body > .corp > .multitaches > .articleList > #bouton {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  body > .corp > .multitaches > #formulaireAjout {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 25px auto;
  }
  body > .corp > .multitaches > #formulaireAjout > #formGauche {
    width: 100%;
  }
  body > .corp > .multitaches > #formulaireAjout > #formGauche > .titre-auteur {
    width: 100%;
  }
  body > .corp > .multitaches > #formulaireAjout > #formGauche > .titre-auteur > .tripleInput {
    margin: 25px auto;
  }
  body > .corp > .multitaches > #formulaireAjout > #formGauche > .edition-date {
    width: 100%;
  }
  body > .corp > .multitaches > #formulaireAjout > #formGauche > .edition-date > .editeur {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }
  body > .corp > .multitaches > #formulaireAjout > #formGauche > .edition-date > .genreChoice {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  body > .corp > .multitaches > #formulaireAjout > #formGauche > .edition-date > .collectChoice {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  body > .corp > .multitaches > #formulaireAjout > .formMilieu {
    width: 100%;
    margin-top: 25px;
  }
  body > .corp > .multitaches > #formulaireAjout > .formMilieu > .select {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }
  body > .corp > .multitaches > #formulaireAjout > .formMilieu > .select > #id_category {
    width: 260px;
  }
  body > .corp > .multitaches > #formulaireAjout > .formMilieu > .ajoutDate {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }
  body > .corp > .multitaches > #formulaireAjout > .formMilieu > .ajoutDate > .date {
    width: 240px;
  }
  body > .corp > .multitaches > #formulaireAjout > .formMilieu > .imageChoice {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  body > .corp > .multitaches > #formulaireAjout > .formMilieu > .imageChoice > #image {
    width: 240px;
  }
  body > .corp > .multitaches > #formulaireAjout > .formDroite {
    width: 100%;
    margin-top: 25px;
    justify-content: center;
  }
  body > .corp > .multitaches > #formulaireAjout > .formDroite > .resume {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }
  body > .corp > .multitaches > #formulaireAjout > .formDroite > .resume > #summary {
    width: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 12px auto;
  }
  body > .corp > .multitaches > #formulaireAjout > .formDroite > input {
    width: 200px;
    height: 50px;
    border-radius: 50px;
    background-color: #696969;
    cursor: pointer;
    color: #26F904;
  }
  body > .corp > .multitaches > #formulaireModif {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 25px auto;
  }
  body > .corp > .multitaches > #formulaireModif > #formGauche {
    width: 100%;
  }
  body > .corp > .multitaches > #formulaireModif > #formGauche > .titre-auteur {
    width: 100%;
  }
  body > .corp > .multitaches > #formulaireModif > #formGauche > .titre-auteur > .tripleInput {
    margin: 25px auto;
  }
  body > .corp > .multitaches > #formulaireModif > #formGauche > .edition-date {
    width: 100%;
  }
  body > .corp > .multitaches > #formulaireModif > #formGauche > .edition-date > .editeur {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }
  body > .corp > .multitaches > #formulaireModif > #formGauche > .edition-date > .genreChoice {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  body > .corp > .multitaches > #formulaireModif > #formGauche > .edition-date > .collectChoice {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  body > .corp > .multitaches > #formulaireModif > .formMilieu {
    width: 100%;
    margin-top: 25px;
  }
  body > .corp > .multitaches > #formulaireModif > .formMilieu > .select {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }
  body > .corp > .multitaches > #formulaireModif > .formMilieu > .select > #id_category {
    width: 260px;
  }
  body > .corp > .multitaches > #formulaireModif > .formMilieu > .ajoutDate {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }
  body > .corp > .multitaches > #formulaireModif > .formMilieu > .ajoutDate > .date {
    width: 240px;
  }
  body > .corp > .multitaches > #formulaireModif > .formMilieu > .imageChoice {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  body > .corp > .multitaches > #formulaireModif > .formMilieu > .imageChoice > #image {
    width: 240px;
  }
  body > .corp > .multitaches > #formulaireModif > .formDroite {
    width: 100%;
    margin-top: 25px;
    justify-content: center;
  }
  body > .corp > .multitaches > #formulaireModif > .formDroite > .resume {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }
  body > .corp > .multitaches > #formulaireModif > .formDroite > .resume > #summary {
    width: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 12px auto;
  }
  body > .corp > .multitaches > #formulaireModif > .formDroite > input {
    width: 200px;
    height: 50px;
    border-radius: 50px;
    background-color: #696969;
    cursor: pointer;
    color: #26F904;
  }
  body > .corp > .multitaches > #tableUser {
    width: 100%;
  }
  body > .corp > .multitaches > #tableUser > thead {
    width: 50%;
    font-size: 0.8rem;
  }
  body > .corp > .multitaches > #tableUser > tbody {
    width: 50%;
  }
  body > .corp > .multitaches > #tableUser > tbody > .contenuUser {
    width: 50%;
    font-size: 0.8rem;
  }
  body > .corp > .multitaches > #tableUser > tbody > .tdButton {
    width: 50%;
  }
  body > .corp > .multitaches > #tableUser > tbody > .tdButton > td {
    width: 50%;
    font-size: 0.8rem;
  }
  body > .corp > .multitaches > #tableUser > tbody > .tdButton > td > button {
    width: 50%;
  }
  body > .corp > .multitaches > #tableUser > tbody > .tdButton > td > button > a {
    width: 50%;
    font-size: 0.8rem;
  }
  body > .corp > .multitaches > .newsLetter {
    width: 100%;
  }
  body > .corp > .multitaches > .newsLetter > textarea {
    width: 50%;
  }
}
.success,
.error {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
  font: 700;
  opacity: 0;
  position: fixed;
  display: flex;
  bottom: 20px;
  right: 10px;
  z-index: 9999;
  width: auto;
  height: auto;
  color: #f1f1f1;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  animation: popup 3s;
  transition: all 0.4s;
  border: none;
}

@keyframes popup {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* Style pour la modal  */
.block-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.active-box-delete-book {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  display: block;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.active-box-delete-book p#txt-box-delete-category {
  font-size: 16px;
  margin-bottom: 20px;
}

.active-box-delete-book a#btn-cancel-delete-category,
.active-box-delete-book a#btn-confirmed-delete-book {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

.active-box-delete-book a#btn-cancel-delete-category {
  background-color: #999;
  margin-right: 10px;
}

.active-box-delete-book a#btn-confirmed-delete-book {
  background-color: #d9534f;
}/*# sourceMappingURL=style-admin.css.map */