$fondRose : #F2D5D5;
$remplissage : #FFDAA4;
$grisBtn : #696969;
$grisFiltre : #807373;
$fondUser : #FFE7D6;





* {
    margin: 0;
    padding: 0;

}

a {
    text-decoration: none;
}




/*....................HEADER-ADMIN DASHBOARD....................*/



/*.....section + nav.....*/
#side-bar {
    max-width: 500px;
    width: 25%;
    height: 100vh;
    position: fixed;
    background-color: #858585;
    




    &>#logo > img {
        width: 100%;
      



    }

    &>#menu-admin {
      



        &>nav {
            
           


            &>ul {
              

                 &>li {
                     width: 400px;
                     height: 79px;
                     display: flex;
                     flex-direction: row;
                     justify-content: space-evenly;
                     align-items: center;
                     background-color: #AAAAAA;
                     border-bottom: 1px solid black;

                     &>img {
                         width: 32px;
                         height: 32px;

                     }

                     &>a {
                         width: 150px;
                         color: black;
                     }


                 }
            }
        }
    }

}

#headerDashboard {
    width: 75%;
    height: 100vh;
    float: right;
    background-color: $fondRose;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
    
        
        
         &>.notif {
            width: 32px;
            height: 32px;
            margin: 30px 10px;
            
          
         }

         &>.notif:hover {
             cursor: pointer;

         }

         & > p{
            margin-top: 35px;
         }

        

        




    
}

/*....................ARTICLE-ADMIN....................*/

.multitaches{
    
    background-color: $fondRose;
    //border: 1px solid black;
    


    & > .multiTitre{
        width: 100%;
        text-transform: uppercase;
        text-align: center;
        
    }

    & > #menu-article{
        width: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        border: 1px solid black;
    }
    
}

