@font-face {
  font-family: "QuattrocentoSans-Regular";
  src: url(../fonts/QuattrocentoSans-Regular.ttf);
}
@font-face {
  font-family: "QuattrocentoSans-Bold";
  src: url(../fonts/QuattrocentoSans-Bold.ttf);
}
@font-face {
  font-family: "LRT Oksana Bold Italic";
  src: url(../fonts/LRTOksanaBoldItalic.ttf);
}
@font-face {
  font-family: "LRT Oksana Bold";
  src: url(../fonts/LRTOksanaBold.ttf);
}
@font-face {
  font-family: "LRT Oksana Italic";
  src: url(../fonts/LRTOksanaItalic.ttf);
}
@font-face {
  font-family: "LRT Oksana";
  src: url(../fonts/LRTOksana.ttf);
}
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/*....................HEADER-ADMIN INCLUDE....................*/
/*.....section logo + nav.....*/
#side-bar {
  max-width: 500px;
  width: 25%;
  height: 100vh;
  position: fixed;
  background-color: #858585;
}
#side-bar > #logo > img {
  width: 100%;
  border-bottom: 1px solid black;
}
#side-bar > #menu-admin > nav {
  max-width: 400px;
}
#side-bar > #menu-admin > nav > ul {
  width: 400px;
}
#side-bar > #menu-admin > nav > ul > li {
  max-width: 500px;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #AAAAAA;
  border-bottom: 1px solid black;
}
#side-bar > #menu-admin > nav > ul > li > img {
  width: 32px;
  height: 32px;
}
#side-bar > #menu-admin > nav > ul > li > a {
  width: 150px;
  color: black;
  font-size: 1.4rem;
}

/*.....fin.....*/
/*.....header + icones.....*/
.corp {
  max-width: 1300px;
  width: 75%;
  height: 100%;
  float: right;
  background-color: #c8c8c8;
  /*....................FIN.CSS.HEADER-ADMIN.DASHBOARD....................*/
  /*....................CSS.DASHBOARD....................*/
  /*....................FIN.DASHBOARD....................*/
  /*....................CSS.ARTICLES....................*/
  /*....................FIN.CSS.ARTICLES....................*/
  /*....................CSS.FORMULAIRE.AJOUT/MODIFICATION.ARTICLES....................*/
  /*....................FIN.FORMULAIRE.AJOUT....................*/
  /*....................CSS.CATEGORIES....................*/
  /*....................FIN.CSS.CATEGORIES....................*/
  /*....................CSS.GENRES....................*/
  /*....................FIN.CSS.GENRES....................*/
  /*....................FORMULAIRE.MODIF+.CATEGORIE.GENRE.CSS....................*/
  /*....................fin.formulaire....................*/
  /*....................CSS.USER....................*/
  /*....................CSS.USER.FIN....................*/
  /*....................CSS.USER.MODIFICATION....................*/
  /*....................CSS.NEWSLETTER....................*/
}
.corp > #headerDashboard {
  height: 132px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: white;
  border-bottom: 1px solid black;
}
.corp > #headerDashboard > .notif {
  width: 32px;
  height: 32px;
  margin: 50px 10px;
}
.corp > #headerDashboard > .notif:hover {
  cursor: pointer;
}
.corp > #headerDashboard > p {
  margin-top: 55px;
}
.corp > .multitaches {
  width: 100%;
  height: 100%;
}
.corp > .multitaches > .multiTitre {
  width: 100%;
  padding-top: 40px;
  text-transform: uppercase;
  text-align: center;
}
.corp .multitaches > #compteurEtGraphique {
  width: 1000px;
  height: 100%;
  margin-top: 25px;
  margin-left: 25px;
}
.corp .multitaches > #dernier-ajout {
  width: 100%;
  text-transform: uppercase;
  text-align: center;
}
.corp .multitaches > #articleSearchAjout {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 50px;
  padding-top: 20px;
}
.corp .multitaches > #articleSearchAjout > form {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}
.corp .multitaches > #articleSearchAjout > form > .recherche {
  padding-left: 10px;
  border: 0;
  border-radius: 100px;
  width: 300px;
  height: 50px;
}
.corp .multitaches > #articleSearchAjout > form > button {
  width: 50px;
  height: 50px;
  border: 0;
  border-radius: 100px;
  margin-left: -50px;
  margin-right: 50px;
}
.corp .multitaches > #articleSearchAjout > a {
  width: 300px;
  margin-top: 50px;
  color: white;
  font-size: 1.3rem;
  text-align: center;
  border: 1px solid white;
  border-radius: 25px;
  background-color: #FFDAA4;
}
.corp .multitaches > .sousTitre {
  width: 200px;
  margin-top: 40px;
  margin-left: 500px;
  margin-bottom: 20px;
}
.corp .multitaches > .articleList {
  width: 800px;
  height: 49px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
  background-color: #AAAAAA;
  margin: 10px 200px;
}
.corp .multitaches > .articleList > h3 {
  width: 450px;
  padding-left: 10px;
}
.corp .multitaches > .articleList > p {
  width: 100px;
}
.corp .multitaches > .articleList > bouton {
  width: 150px;
  margin-right: 10px;
}
.corp .multitaches > #formulaireAjout {
  width: 90%;
  margin: 0 auto;
  background-color: #FFF5EE;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 50px;
  margin-top: 20px;
}
.corp .multitaches > #formulaireAjout > #formGauche {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.corp .multitaches > #formulaireAjout > #formGauche > .titre-auteur {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.corp .multitaches > #formulaireAjout > #formGauche > .titre-auteur > .tripleInput {
  width: 350px;
  height: 50px;
  margin-top: 50px;
  border: 0;
  border-radius: 50px;
  background-color: #FFDAA4;
  padding-left: 10px;
}
.corp .multitaches > #formulaireAjout > #formGauche > .edition-date {
  width: 100%;
}
.corp .multitaches > #formulaireAjout > #formGauche > .edition-date > div > #editor {
  width: 350px;
  height: 50px;
  margin-top: 50px;
  border: 0;
  border-radius: 50px;
  background-color: #FFDAA4;
  padding-left: 10px;
}
.corp .multitaches > .categorieList {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 50px;
  flex-wrap: wrap;
}
.corp .multitaches > .categorieList > .unite {
  width: 300px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  background-color: #AAAAAA;
  border: 1px solid black;
  margin: 10px 10px;
}
.corp .multitaches > .genreList {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 50px;
  flex-wrap: wrap;
}
.corp .multitaches > .genreList > .unite {
  width: 300px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  background-color: #AAAAAA;
  border: 1px solid black;
  margin: 10px 10px;
}
.corp .multitaches > #ajout-categorie {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
}
.corp .multitaches > #ajout-categorie > .ajout {
  width: 300px;
  height: 300px;
  background-color: #FFDAA4;
  border-radius: 15px;
  box-shadow: 1px 1px 10px 1px grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  justify-items: center;
}
.corp .multitaches > #ajout-categorie > .ajout > .newCat {
  width: 200px;
  height: 50px;
  border: 0;
  border-radius: 25px;
  text-align: center;
  font-size: 1.1rem;
}
.corp .multitaches > #ajout-categorie > .ajout > button {
  width: 150px;
  height: 50px;
  text-transform: uppercase;
  border: 0;
  border-radius: 10px;
  background-color: #696969;
}
.corp .multitaches > #ajout-categorie > .ajout > button > a {
  font-size: 1.1rem;
  color: white;
}
.corp .multitaches > #ajout-categorie > .modifierSupp {
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  justify-items: center;
  background-color: #FFDAA4;
  border-radius: 15px;
  box-shadow: 1px 1px 10px 1px grey;
}
.corp .multitaches > #ajout-categorie > .modifierSupp > #selection {
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.corp .multitaches > #ajout-categorie > .modifierSupp > #selection > #id_category {
  width: 150px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50px;
  border-color: #FFDAA4;
  text-align: center;
  font-size: 1.1rem;
}
.corp .multitaches > #ajout-categorie > .modifierSupp > #selection > .modifCat {
  margin-right: 10px;
  width: 150px;
  height: 30px;
  text-align: center;
  font-size: 1.1rem;
  border-radius: 50px;
  border: 0;
}
.corp .multitaches > #ajout-categorie > .modifierSupp button {
  margin-right: 10px;
  width: 150px;
  height: 50px;
  text-transform: uppercase;
  border: 0;
  border-radius: 10px;
  background-color: #696969;
}
.corp .multitaches > #ajout-categorie > .modifierSupp button > a {
  font-size: 1.1rem;
  color: white;
}
.corp .multitaches > #ajout-genre {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
}
.corp .multitaches > #ajout-genre > .ajout {
  width: 300px;
  height: 300px;
  background-color: #FFDAA4;
  border-radius: 15px;
  box-shadow: 1px 1px 10px 1px grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  justify-items: center;
}
.corp .multitaches > #ajout-genre > .ajout > .newGenre {
  width: 200px;
  height: 50px;
  border: 0;
  border-radius: 25px;
  text-align: center;
  font-size: 1.1rem;
}
.corp .multitaches > #ajout-genre > .ajout > button {
  width: 150px;
  height: 50px;
  text-transform: uppercase;
  border: 0;
  border-radius: 10px;
  background-color: #696969;
}
.corp .multitaches > #ajout-genre > .ajout > button > a {
  font-size: 1.1rem;
  color: white;
}
.corp .multitaches > #ajout-genre > .modifierSupp {
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  justify-items: center;
  background-color: #FFDAA4;
  border-radius: 15px;
  box-shadow: 1px 1px 10px 1px grey;
}
.corp .multitaches > #ajout-genre > .modifierSupp > #selection {
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.corp .multitaches > #ajout-genre > .modifierSupp > #selection > #genre {
  width: 150px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50px;
  border-color: #FFDAA4;
  text-align: center;
  font-size: 1.1rem;
}
.corp .multitaches > #ajout-genre > .modifierSupp > #selection > .modifGenre {
  margin-right: 10px;
  width: 150px;
  height: 30px;
  text-align: center;
  font-size: 1.1rem;
  border-radius: 50px;
  border: 0;
}
.corp .multitaches > #ajout-genre > .modifierSupp button {
  margin-right: 10px;
  width: 150px;
  height: 50px;
  text-transform: uppercase;
  border: 0;
  border-radius: 10px;
  background-color: #696969;
}
.corp .multitaches > #ajout-genre > .modifierSupp button > a {
  font-size: 1.1rem;
  color: white;
}
.corp .multitaches > #userMenu {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 40px;
  padding-top: 50px;
}
.corp .multitaches > #userMenu > .userSearch {
  display: flex;
  flex-direction: row;
}
.corp .multitaches > #userMenu > .userSearch > .recherche {
  border: 0;
  border-radius: 100px;
  width: 300px;
  height: 50px;
  text-align: center;
}
.corp .multitaches > #userMenu > .userSearch > button {
  width: 50px;
  height: 50px;
  border: 0;
  border-radius: 100px;
  margin-left: -50px;
  margin-right: 50px;
}
.corp .multitaches > #userMenu > .boutonUser {
  width: 400px;
  height: 50px;
  display: flex;
  flex-direction: row;
}
.corp .multitaches > #userMenu > .boutonUser > button {
  width: 150px;
  height: 50px;
  line-height: 50px;
  text-transform: uppercase;
  border: 0;
  border-radius: 10px;
  background-color: #696969;
  margin-left: 10px;
}
.corp .multitaches > #userMenu > .boutonUser > button > a {
  height: 50px;
  font-size: 1.1rem;
  color: white;
}
.corp .multitaches > #tableUser {
  width: 100%;
  margin-top: 50px;
  text-align: center;
}
.corp .multitaches > #tableUser > thead {
  background-color: #696969;
  height: 50px;
  font-size: 1.1rem;
}
.corp .multitaches > #tableUser > tbody > .contenuUser {
  background-color: #FFE7D6;
  height: 50px;
}
.corp .multitaches > #tableUser > tbody > .tdButton {
  height: 50px;
}
.corp .multitaches > #tableUser > tbody > .tdButton > td {
  height: 50px;
}
.corp .multitaches > #tableUser > tbody > .tdButton > td > button {
  width: 100%;
  height: 50px;
  background-color: #696969;
  border-radius: 10px;
  border: 0;
  margin-top: 10px;
}
.corp .multitaches > #tableUser > tbody > .tdButton > td > button > a {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: black;
  font-size: 1.1rem;
}
.corp .multitaches > .newsLetter {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.corp .multitaches > .newsLetter > input {
  width: 1000px;
  height: 400px;
}
.corp .multitaches > .newsLetter > button {
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-transform: uppercase;
  border: 0;
  border-radius: 10px;
  background-color: #696969;
  margin-top: 10px;
}
.corp .multitaches > .newsLetter > button > a {
  color: black;
}

/*....................CSS.CONNEXION....................*/
#sideVide {
  max-width: 500px;
  width: 25%;
  height: 100vh;
  position: fixed;
  background-color: #858585;
}
#sideVide > #logo > img {
  width: 100%;
  border-bottom: 1px solid black;
}

.bodyConnexion {
  max-width: 1300px;
  width: 75%;
  height: 100 vh;
  float: right;
}
.bodyConnexion > .connexion {
  width: 500px;
  height: 350px;
  border-radius: 15px;
  margin-top: 100px;
  margin-left: 350px;
  background-color: #FFDAA4;
}
.bodyConnexion > .connexion > .Titre {
  width: 100%;
  padding-top: 20px;
  text-transform: uppercase;
  text-align: center;
}
.bodyConnexion > .connexion > #mail, .bodyConnexion > .connexion #pass {
  width: 300px;
  height: 50px;
  margin: 30px 100px;
}
.bodyConnexion > .connexion > #mail > input, .bodyConnexion > .connexion #pass > input {
  width: 300px;
  height: 50px;
  border-radius: 50px;
  border: 0;
  background-color: white;
  padding-left: 10px;
  margin-top: 20px;
}
.bodyConnexion > .connexion > #connect {
  width: 100px;
}
.bodyConnexion > .connexion > #connect > button {
  width: 100px;
  height: 25px;
  margin: 50px 200px;
  box-shadow: 1px 1px 10px 1px grey;
  background-color: #81D9E5;
  border: 0;
  border-radius: 20px;
}
.bodyConnexion > .connexion > #connect > button:hover {
  cursor: pointer;
}

/*....................FIN.CSS.CONNEXION....................*/
/*....................DELETE.CSS....................*/
.popup {
  width: 500px;
  height: 250px;
  position: fixed;
  box-shadow: 1px 1px 10px 1px grey;
  border-radius: 25px;
  text-align: center;
  margin-top: 0;
  margin-left: 50%;
  transform: translate(-50%, 50%);
  z-index: 99999;
}
.popup > h1 {
  width: 500px;
  padding-top: 30px;
  font-family: LRT Oksana Bold;
}
.popup > .title {
  width: 500px;
  height: 50px;
  margin-top: 10px;
}
.popup > .btnYes {
  width: 100px;
  height: 70px;
  background-color: #26F904;
  margin-right: 20px;
  cursor: pointer;
}
.popup > .btnNo {
  width: 100px;
  height: 70px;
  background-color: #FF0404;
  margin-left: 20px;
  cursor: pointer;
}/*# sourceMappingURL=style-admin.css.map */