$fondRose : #c8c8c8;
$remplissage : #FFDAA4;
$grisBtn : #696969;
$grisFiltre : #807373;
$fondUser : #FFE7D6;

@font-face {
    font-family: 'QuattrocentoSans-Regular';
    src: url(../fonts/QuattrocentoSans-Regular.ttf);
}

@font-face {
    font-family: 'QuattrocentoSans-Bold';
    src: url(../fonts/QuattrocentoSans-Bold.ttf);
}

@font-face {
    font-family: 'LRT Oksana Bold Italic';
    src: url(../fonts/LRTOksanaBoldItalic.ttf);
}

@font-face {
    font-family: 'LRT Oksana Bold';
    src: url(../fonts/LRTOksanaBold.ttf);
}

@font-face {
    font-family: 'LRT Oksana Italic';
    src: url(../fonts/LRTOksanaItalic.ttf);
}

@font-face {
    font-family: 'LRT Oksana';
    src: url(../fonts/LRTOksana.ttf);
}



* {
    margin: 0;
    padding: 0;

}

a {
    text-decoration: none;
}


/*....................HEADER-ADMIN INCLUDE....................*/

/*.....section logo + nav.....*/
#side-bar {
    max-width: 500px;
    width: 25%;
    height: 100vw;
    position: fixed;
    background-color: #858585;

    &>#logo>img {
        width: 100%;
        border-bottom: 1px solid black;
    }

    &>#menu-admin {
        width: 100%;

        &>nav {
            max-width: 500px;

            &>ul {
                width: 100%;

                &>li {
                    // max-width: 400px;
                    width: 100%;
                    height: 80px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    align-items: center;
                    background-color: #AAAAAA;
                    border-bottom: 1px solid black;

                    &>img {
                        width: 32px;
                        height: 32px;

                    }

                    &>a {
                        width: 150px;
                        color: black;
                        font-size: 1.4rem;
                    }


                }
            }
        }
    }

}

/*.....fin.....*/

/*.....header + icones.....*/
.corp {
    width: 75%;
    height: 100vw;
    float: right;
    background-color: $fondRose;


    &>#headerDashboard {

        height: 130px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        background-color: white;
        border-bottom: 1px solid black;

        &>.notif {
            width: 32px;
            height: 32px;
            margin: 50px 10px;
        }

        &>.notif:hover {
            cursor: pointer;
        }

        &>p {
            margin-top: 55px;
        }

    }

    &>.multitaches {
        width: 100%;
        height: 100vw;
        background-color: $fondRose;


        &>.multiTitre {
            width: 100%;
            padding-top: 40px;
            text-transform: uppercase;
            text-align: center;


        }
    }

    /*....................FIN.CSS.HEADER-ADMIN.DASHBOARD....................*/

    /*....................CSS.TABLEAU.DE.BORD....................*/

    .multitaches>#compteurEtGraphique {
        width: 1000px;
        height: 120px;
        margin-top: 25px;
        margin-left: 25px;
    }

    .multitaches>#dernier-ajout {
        width: 100%;
        margin-top: 50px;
        text-transform: uppercase;
        text-align: center;
    }

    /*....................FIN.TABLEAU.DE.BORD....................*/

    /*....................CSS.ARTICLES....................*/

    .multitaches>#articleSearchAjout {
        width: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 50px;
        padding-top: 20px;

        &>form {
            display: flex;
            flex-direction: row;
            margin-top: 50px;

            &>.recherche {
                padding-left: 10px;
                border: 0;
                border-radius: 100px;
                width: 300px;
                height: 50px;
            }

            &>button {
                width: 50px;
                height: 50px;
                border: 0;
                border-radius: 100px;
                margin-left: -50px;
                margin-right: 50px;
                cursor: pointer;
            }
        }

        &>a {
            width: 300px;
            margin-top: 50px;
            color: white;
            font-size: 1.3rem;
            text-align: center;
            border: 1px solid white;
            border-radius: 25px;
            background-color: $remplissage;
        }


    }

    .multitaches>.sousTitre {
        width: 200px;
        margin-top: 40px;
        margin-left: 500px;
        margin-bottom: 20px;
    }

    .multitaches>.articleList {
        width: 800px;
        height: 49px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        border: 1px solid black;
        background-color: #AAAAAA;
        margin: 10px 200px;

        &>h3 {
            width: 450px;
            padding-left: 10px;

        }

        &>p {
            width: 100px;
        }

        &>bouton {
            width: 150px;
            margin-right: 10px;
        }

    }

    /*....................FIN.CSS.ARTICLES....................*/

    /*....................CSS.FORMULAIRE.AJOUT.LIVRE....................*/

    .multitaches>#formulaireAjout {

        width: 90%;
        margin: 0 auto;
        background-color: #FFF5EE;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        border-radius: 50px;
        margin-top: 20px;

        &>#formGauche {
            width: 30%;
            display: flex;
            flex-direction: column;

            &>.titre-auteur {
                width: 100%;
                display: flex;
                flex-direction: column;

                &>.tripleInput {
                    width: 320px;
                    height: 50px;
                    margin-top: 50px;
                    border: 0;
                    border-radius: 50px;
                    background-color: $remplissage;
                    padding-left: 10px;

                }
            }

            &>.edition-date {
                width: 100%;
                display: flex;
                flex-direction: column;

                &>.editeur {
                    width: 320px;
                    margin-top: 50px;

                    &>#editor {
                        width: 320px;
                        height: 50px;
                        border: 0;
                        border-radius: 50px;
                        background-color: $remplissage;
                        padding-left: 10px;

                    }
                }

                &>.ajoutDate {
                    width: 320px;
                    margin-top: 50px;
                    display: flex;
                    flex-direction: row;

                    &>.publication {
                        width: 90px;
                        height: 50px;
                        margin-top: 15px;
                    }

                    &>.date {
                        width: 235px;
                        height: 50px;
                        border: 0;
                        border-radius: 50px;
                        background-color: $remplissage;
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                }
            }
        }

        &>.formMilieu {
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            &>.select {
                width: 320px;
                margin-top: 50px;

                &>#id_category {
                    width: 200px;
                    height: 50px;
                    border: 0;
                    border-radius: 50px;
                    background-color: $remplissage;
                    padding-left: 10px;

                }
            }

            &>.genreChoice {
                width: 260px;
                margin-top: 50px;

                &>#genre {
                    width: 260px;
                    height: 50px;
                    border: 0;
                    border-radius: 50px;
                    background-color: $remplissage;
                    padding-left: 10px;
                }

            }

            &>.resume {
                width: 100%;
                height: 200px;
                display: flex;
                flex-direction: column;
                text-align: center;
                margin-top: 50px;

                &>#summary {
                    width: 320px;
                    height: 300px;
                    resize: none;
                    margin-top: 10px;
                }
            }
        }

        &>.formDroite {
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            &>.imageChoice {
                width: 100%;

                &>#image {
                    width: 200px;
                    height: 50px;
                    border: 0;
                    border-radius: 50px;
                    background-color: $remplissage;
                }
            }



            &>input {
                width: 200px;
                height: 50px;
                border-radius: 50px;
                background-color: $grisBtn;
                cursor: pointer;
                color: #26F904;
            }
        }
    }

    /*....................FIN.FORMULAIRE.AJOUT.LIVRE....................*/

    /*....................CSS.FORMULAIRE.MODIF.LIVRE....................*/

    .multitaches>#formulaireModif {

        width: 90%;
        margin: 0 auto;
        background-color: #FFF5EE;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        border-radius: 50px;
        margin-top: 20px;

        &>#formGauche {
            width: 30%;
            display: flex;
            flex-direction: column;

            &>.titre-auteur {
                width: 100%;
                display: flex;
                flex-direction: column;

                &>.tripleInput {
                    width: 320px;
                    height: 50px;
                    margin-top: 50px;
                    border: 0;
                    border-radius: 50px;
                    background-color: $remplissage;
                    padding-left: 10px;

                }
            }

            &>.edition-date {
                width: 100%;
                display: flex;
                flex-direction: column;

                &>.editeur {
                    width: 320px;
                    margin-top: 50px;

                    &>#editor {
                        width: 320px;
                        height: 50px;
                        border: 0;
                        border-radius: 50px;
                        background-color: $remplissage;
                        padding-left: 10px;

                    }
                }

                &>.ajoutDate {
                    width: 320px;
                    margin-top: 50px;
                    display: flex;
                    flex-direction: row;

                    &>.publication {
                        width: 90px;
                        height: 50px;
                        margin-top: 15px;
                    }

                    &>.date {
                        width: 235px;
                        height: 50px;
                        border: 0;
                        border-radius: 50px;
                        background-color: $remplissage;
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                }
            }
        }

        &>.formMilieu {
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            &>.select {
                width: 320px;
                margin-top: 50px;

                &>#id_category {
                    width: 200px;
                    height: 50px;
                    border: 0;
                    border-radius: 50px;
                    background-color: $remplissage;
                    padding-left: 10px;

                }
            }

            &>.genreChoice {
                width: 260px;
                margin-top: 50px;

                &>#genre {
                    width: 260px;
                    height: 50px;
                    border: 0;
                    border-radius: 50px;
                    background-color: $remplissage;
                    padding-left: 10px;
                }

            }

            &>.resume {
                width: 100%;
                height: 200px;
                display: flex;
                flex-direction: column;
                text-align: center;
                margin-top: 50px;

                &>#summary {
                    width: 320px;
                    height: 300px;
                    resize: none;
                    margin-top: 10px;
                }
            }
        }

        &>.formDroite {
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            &>.imageChoice {
                width: 100%;

                &>#image {
                    width: 200px;
                    height: 50px;
                    border: 0;
                    border-radius: 50px;
                    background-color: $remplissage;
                }
            }



            &>input {
                width: 200px;
                height: 50px;
                border-radius: 50px;
                background-color: $grisBtn;
                cursor: pointer;
                color: #26F904;
            }
        }
    }

    /*....................FIN.FORMULAIRE.MODIF.LIVRE....................*/

    /*....................CSS.CATEGORIES....................*/

    .multitaches>#ajoutCategorie {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 100px;




        &>.ajout {

            width: 700px;
            height: 100px;
            background-color: $remplissage;
            border-radius: 15px;
            box-shadow: 1px 1px 10px 1px grey;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            justify-items: center;

            &>.newCat {
                width: 200px;
                height: 50px;
                border: 0;
                border-radius: 25px;
                text-align: center;
                font-size: 1.1rem;

            }

            &>.slugCat {
                width: 200px;
                height: 50px;
                border: 0;
                border-radius: 25px;
                text-align: center;
                font-size: 1.1rem;

            }


            &>.subCat {
                width: 150px;
                height: 50px;
                text-transform: uppercase;
                border: 0;
                border-radius: 10px;
                font-size: 1.1rem;
                color: white;
                background-color: $grisBtn;
                cursor: pointer;
            }
        }
    }

    .multitaches>.categorieList {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 50px;

        flex-wrap: wrap;


        &>.unite {
            width: 300px;
            height: 50px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            justify-items: center;
            align-items: center;
            background-color: #AAAAAA;
            border: 1px solid black;
            margin: 10px 10px;

        }





    }

    /*....................FIN.CSS.CATEGORIES....................*/

    /*....................CSS.EDIT.CATEGORIES....................*/
    .multitaches>.titleEditCategory {
        width: 500px;
        padding-top: 100px;
        margin: auto;

    }

    .multitaches>#editCategorie {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 50px;

        &>.edit {
            width: 700px;
            height: 100px;
            background-color: $remplissage;
            border-radius: 15px;
            box-shadow: 1px 1px 10px 1px grey;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            justify-items: center;

            &>.editCat {
                width: 200px;
                height: 50px;
                border: 0;
                border-radius: 25px;
                text-align: center;
                font-size: 1.1rem;

            }

            &>.editSlugCat {
                width: 200px;
                height: 50px;
                border: 0;
                border-radius: 25px;
                text-align: center;
                font-size: 1.1rem;
            }

            &>.subEditCat {
                width: 150px;
                height: 50px;
                text-transform: uppercase;
                border: 0;
                border-radius: 10px;
                font-size: 1.1rem;
                color: white;
                background-color: $grisBtn;
                cursor: pointer;
            }
        }
    }

    /*....................FIN.EDIT.CATEGORIES....................*/

    /*....................CSS.GENRES....................*/

    .multitaches>#ajoutGenre {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 100px;




        &>.ajout {

            width: 700px;
            height: 100px;
            background-color: $remplissage;
            border-radius: 15px;
            box-shadow: 1px 1px 10px 1px grey;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            justify-items: center;

            &>.newGenre {
                width: 200px;
                height: 50px;
                border: 0;
                border-radius: 25px;
                text-align: center;
                font-size: 1.1rem;

            }

            &>.slugGenre {
                width: 200px;
                height: 50px;
                border: 0;
                border-radius: 25px;
                text-align: center;
                font-size: 1.1rem;

            }


            &>.subGenre {
                width: 150px;
                height: 50px;
                text-transform: uppercase;
                border: 0;
                border-radius: 10px;
                font-size: 1.1rem;
                color: white;
                background-color: $grisBtn;
                cursor: pointer;
            }
        }
    }

    .multitaches>.genreList {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 50px;

        flex-wrap: wrap;


        &>.unite {
            width: 300px;
            height: 50px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            justify-items: center;
            align-items: center;
            background-color: #AAAAAA;
            border: 1px solid black;
            margin: 10px 10px;

        }
    }

    /*....................FIN.CSS.GENRES....................*/

    /*....................CSS.EDIT.GENRE....................*/

    .multitaches>.titleEditGenre {
        width: 500px;
        padding-top: 100px;
        margin: auto;

    }

    .multitaches>#sectionEditGenre {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 50px;

        &>.edit {
            width: 700px;
            height: 100px;
            background-color: $remplissage;
            border-radius: 15px;
            box-shadow: 1px 1px 10px 1px grey;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            justify-items: center;

            &>.editGenre {
                width: 200px;
                height: 50px;
                border: 0;
                border-radius: 25px;
                text-align: center;
                font-size: 1.1rem;

            }

            &>.editSlugGenre {
                width: 200px;
                height: 50px;
                border: 0;
                border-radius: 25px;
                text-align: center;
                font-size: 1.1rem;
            }

            &>.subEditGenre {
                width: 150px;
                height: 50px;
                text-transform: uppercase;
                border: 0;
                border-radius: 10px;
                font-size: 1.1rem;
                color: white;
                background-color: $grisBtn;
                cursor: pointer;
            }
        }
    }

    /*....................FIN.EDIT.GENRE....................*/

    /*....................CSS.USER....................*/

    .multitaches>#userMenu {
        width: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 40px;
        padding-top: 50px;

        &>.userSearch {
            display: flex;
            flex-direction: row;

            &>.recherche {
                border: 0;
                border-radius: 100px;
                width: 300px;
                height: 50px;
                text-align: center;
            }

            &>button {
                width: 50px;
                height: 50px;
                border: 0;
                border-radius: 100px;
                margin-left: -50px;
                margin-right: 50px;
                cursor: pointer;
            }
        }

        &>.boutonUser {
            width: 400px;
            height: 50px;
            display: flex;
            flex-direction: row;



            &>button {
                width: 150px;
                height: 50px;
                line-height: 50px;
                text-transform: uppercase;
                border: 0;
                border-radius: 10px;
                background-color: $grisBtn;
                margin-left: 10px;

                &>a {
                    height: 50px;
                    font-size: 1.1rem;
                    color: white;

                }
            }



        }





    }

    .multitaches>#tableUser {
        width: 100%;
        // margin-left: 50px;
        margin-top: 50px;
        text-align: center;

        &>thead {
            background-color: $grisBtn;
            height: 50px;
            font-size: 1.1rem;
        }

        &>tbody {

            &>.contenuUser {
                background-color: $fondUser;
                height: 50px;
            }

            &>.tdButton {
                height: 50px;

                &>td {
                    height: 50px;

                    &>button {
                        width: 100%;
                        height: 50px;

                        background-color: $grisBtn;
                        border-radius: 10px;
                        border: 0;
                        margin-top: 10px;

                        &>a {
                            display: block;
                            width: 100%;
                            height: 50px;
                            line-height: 50px;
                            color: black;
                            font-size: 1.1rem;
                        }
                    }
                }
            }
        }
    }

    /*....................CSS.USER.FIN....................*/

    /*....................CSS.USER.MODIFICATION....................*/



    /*....................CSS.NEWSLETTER....................*/

    .multitaches>.newsLetter {
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;

        &>input {
            width: 1000px;
            height: 400px;
        }

        &>button {
            width: 200px;
            height: 50px;
            line-height: 50px;
            text-transform: uppercase;
            border: 0;
            border-radius: 10px;
            background-color: $grisBtn;
            margin-top: 10px;

            &>a {
                color: black;
            }

        }

    }






}

// crochet de corp








/*....................CSS.CONNEXION....................*/

#sideVide {

    max-width: 500px;
    width: 25%;
    height: 100vw;
    position: fixed;
    background-color: #858585;

    &>#logo>img {
        width: 100%;
        border-bottom: 1px solid black;
    }

}

.bodyConnexion {
    max-width: 1300px;
    width: 75%;
    height: 100 vw;
    float: right;



    &>.connexion {
        width: 500px;
        height: 350px;
        border-radius: 15px;
        margin-top: 200px;
        margin-left: 350px;
        background-color: $remplissage ;

        &>.Titre {
            width: 100%;
            padding-top: 20px;
            text-transform: uppercase;
            text-align: center;
        }

        &>#mail,
        #pass {
            width: 300px;
            height: 50px;
            margin: 30px 100px;
            //border: 1px solid black;

            &>input {
                width: 300px;
                height: 50px;
                border-radius: 50px;
                border: 0;
                background-color: white;
                padding-left: 10px;
                margin-top: 20px;

            }


        }

        &>#connect {
            width: 100px;

            &>button {
                width: 100px;
                height: 25px;
                margin: 50px 200px;
                box-shadow: 1px 1px 10px 1px grey;
                background-color: #81D9E5;
                border: 0;
                border-radius: 20px;

            }

            &>button:hover {
                cursor: pointer;
            }
        }
    }

}

/*....................FIN.CSS.CONNEXION....................*/

/*....................DELETE.CSS....................*/

.popup {
    width: 500px;
    height: 250px;
    position: fixed;
    box-shadow: 1px 1px 10px 1px grey;
    border-radius: 25px;
    text-align: center;
    margin-top: 0;
    margin-left: 50%;
    transform: translate(-50%, 50%);
    z-index: 99999;

    &>h1 {
        width: 500px;
        padding-top: 30px;
        font-family: LRT Oksana Bold;
    }

    &>.title {
        width: 500px;
        height: 50px;
        margin-top: 10px;
    }

    &>.btnYes {
        width: 100px;
        height: 70px;
        background-color: #26F904;
        margin-right: 20px;
        cursor: pointer;
    }

    &>.btnNo {
        width: 100px;
        height: 70px;
        background-color: #FF0404;
        margin-left: 20px;
        cursor: pointer;

    }




}