* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



@font-face {
    font-family: 'QuattrocentoSans-Regular';
    src: url(../fonts/QuattrocentoSans-Regular.ttf);
}

@font-face {
    font-family: 'QuattrocentoSans-Bold';
    src: url(../fonts/QuattrocentoSans-Bold.ttf);
}

@font-face {
    font-family: 'LRT Oksana';
    src: url(../fonts/LRT\ Oksana.ttf);
}

@font-face {
    font-family: 'LRT Oksana Bold';
    src: url(../fonts/LRT\ Oksana\ Bold.ttf);
}

@font-face {
    font-family: 'LRT Oksana Italic';
    src: url(../fonts/LRT\ Oksana\ Italic.ttf);
}

li {
    list-style-type: none;

}

ul li a {
    text-decoration: none;
}


/* HEADER */

header {
    position: sticky;
    top: 0;
    z-index: 2;
}

.header-main {
    width: 100%;
    background-color: hsl(38, 89%, 48%);
    height: 120px;
    align-items: center;
    display: flex;

}

.logo img {
    width: 300px;
    height: 100%;
}

.logo {
    width: 300px;
}

.nav {
    width: 100%;
}

#navbar ul {
    display: flex;
    margin: 70px;
    font-family: 'QuattrocentoSans-Bold';
    font-size: 1.2rem;
}

#navbar ul li {
    display: inline-block;
    position: relative;
}

#navbar ul li a {
    color: black;
    padding: 10px 20px;
}

#navbar ul li:hover>ul {
    display: block;
}

#navbar ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    margin: 20px 0 0 0;
    background-color: #F4B97A;
    border-radius: 10%;

}

#navbar ul ul li {
    display: block;
}

#navbar ul li:hover {
    border: 2px solid orange;
    border-radius: 50px;
    margin-top: 10px;
    padding: 10px;

}


#navbar ul ul li a {
    padding: 10px 20px;
    display: block;
    color: black;
    text-decoration: none;
}


.search input {
    background-color: #F4B97A;
    border: 2px solid black;
    border-radius: 30px;
    width: 300px;
    height: 35px;
    margin-left: 40px;

}

.header-search {
    display: flex;
    justify-content: center;
}

.search input[type="search"] {
    text-align: justify;
    font-style: italic;
}

.connexion {
    width: 100px;
    height: 70px;
    float: right;
    margin-right: 30px;
    margin-bottom: 10px;
}

#user {
    width: 70px;
    height: 60px;
    margin-right: 50px;

}

/* END HEADER
/* MEDIA QUERIES HEADER */

@media screen and (max-width:400px) {

    .nav {
        display: none;
    }

    .burger {
        display: block;
        cursor: pointer;
    }

    .burger span {
        display: block;
        height: 3px;
        background-color: black;
        margin-bottom: 5px;
    }
}



/* fin media queries header */
/* EN TETE  */
.parallax-section {
    width: 100%;
    height: 400px;
}

.parallax {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax1 {
    background-image: url("../image/entete.jpg");
}

h1 {
    font-family: 'QuattrocentoSans-Bold';
    font-size: 3rem;
    text-align: right;
    text-transform: uppercase;
    width: 1000px;
    height: 90px;
    padding-top: 80px;
    color: black;
}

#explain {
    width: 1000px;
    height: 250px;
    font-family: 'QuattrocentoSans-Bold';
    font-size: 1.8rem;
    text-align: right;
    padding-top: 70px;
    color: black;
}

/* media queries 
@media (min-width: 768px) {
    .parallax {
        height: 800px;
    }
} */

/* SECTION LES PLUS POPULAIRES */
.populaire {
    width: 100%;
    height: 800px;
    background-color: #F4B97A;

}

.container {
    width: 80%;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.popular {
    width: 100%;
    height: 80px;
    font-family: 'QuattrocentoSans-Regular';
    text-transform: uppercase;
    font-size: 1.5rem;
    color: black;
    font-weight: bold;
    text-align: center;
    /* margin-top: 30px; */
}

.titre1 h2 {
    padding-top: 20px;
}

.contain-book {
    width: 100%;
    height: 400px;
    display: flex;

    align-items: baseline;
}

.contain-book img {
    height: 300px;
    border-radius: 5px;
}

.contain-book img:hover {
    opacity: 40%;
}

.item-title {
    width: 120px;
    height: 40px;

}

#resume {
    width: 80px;
    height: 30px;
    border: 1px solid #F47826;
    border-radius: 50px;
    background-color: #F47826;

}

#resume a {
    text-decoration: none;
}

p.title {
    text-align: center;

}

p.author {
    text-align: center;
}

.title {
    font-size: 1rem;
    font-family: 'QuattrocentoSans-Regular';
    font-weight: 800;
    line-height: 10px;

}

.author {
    font-size: 1rem;
    font-family: 'QuattrocentoSans-Regular';
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    line-height: 10px;

}

/* END SECTION POPULAIRES  */

/* SECTION NOUVEAUTES  */

#new {
    width: 100%;
    height: 400px;
    background-color: #F47826;
}

#nouveautes {
    width: 100%;
    height: 50px;
    font-family: 'QuattrocentoSans-Regular';
    text-transform: uppercase;
    font-size: 1.5rem;
    color: black;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
}

.slider {
    height: 300px;
    position: relative;
    overflow: hidden;
    max-width: 800px;
    aspect-ratio: 16/9;
    margin: auto;
    border: 1px solid #fff;
}

.slider [src] {

    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    opacity: 0;
    left: 0;
    height: 300px;
    width: 100%;
    animation: slide 9s linear infinite
}

.slider [src="../image/cohen.jpg"] {


    animation-delay: 3s
}

.slider [src="../image/livres nature.jpg"] {


    animation-delay: 6s
}

@keyframes slide {

    0% {

        opacity: 0
    }

    12% {

        opacity: 1;
        transform: scale(1.03)
    }

    25% {

        opacity: 1;
        transform: scale(1.06);

    }

    37% {

        opacity: 0;
        transform: scale(1.30);

    }

    100% {

        opacity: 0;

    }

}

/* end of section nouveautés */

/* section genre préférés */
.gender {
    width: 100%;
    height: 1200px;
    background-color: #F47826;
}

#prefers {
    width: 100%;
    height: 80px;
    font-family: 'QuattrocentoSans-Regular';
    text-transform: uppercase;
    font-size: 1.5rem;
    color: black;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}

#romance {
    font-size: 1.2rem;
    font-family: 'QuattrocentoSans-Regular';
    font-weight: 800;
    line-height: 10px;
    margin: 20px;
    text-transform: uppercase;
    margin-left: 60px;

}

.container1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
}

.item1 img {
    width: 200px;
    height: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.item1 img:hover {
    opacity: 40%;
}

.item1 {
    flex: 0 0 calc(25% - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#see {
    width: 100px;
    height: 40px;
    border: 1px solid #F47826;
    border-radius: 50px;
    background-color: #F47826;
    position: relative;
    float: right;
}

#see a {
    text-decoration: none;
}

.title .author p {
    text-align: center;
}

.title {
    font-size: 1rem;
    font-family: 'QuattrocentoSans-Regular';
    font-weight: 800;
    line-height: 10px;
}

.author {
    font-size: 1rem;
    font-family: 'QuattrocentoSans-Regular';
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    /* margin-bottom: 20px; */
    line-height: 10px;
}

/* debut fantaisie */

#fantaisie {
    font-size: 1.2rem;
    font-family: 'QuattrocentoSans-Regular';
    font-weight: 800;
    line-height: 10px;
    margin: 40px;
    text-transform: uppercase;
    margin-left: 60px;

}

.container2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
}

.item2 img {
    width: 200px;
    height: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.item2 img:hover {
    opacity: 40%;
}

.item2 {
    flex: 0 0 calc(25% - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#see {
    width: 100px;
    height: 40px;
    border: 1px solid #F47826;
    border-radius: 50px;
    background-color: #F47826;
    position: relative;
    float: right;
}

#see a {
    text-decoration: none;
}

.title .author p {
    text-align: center;
}

.title {
    font-size: 1rem;
    font-family: 'QuattrocentoSans-Regular';
    font-weight: 800;
    line-height: 10px;
}

.author {
    font-size: 1rem;
    font-family: 'QuattrocentoSans-Regular';
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    line-height: 10px;
}

/* debut action  */
#action {
    font-size: 1.2rem;
    font-family: 'QuattrocentoSans-Regular';
    font-weight: 800;
    line-height: 10px;
    margin: 40px;
    text-transform: uppercase;
    margin-left: 60px;
}

.container3 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
}

.item3 img {
    width: 200px;
    height: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.item3 img:hover {
    opacity: 40%;
}

.item3 {
    flex: 0 0 calc(25% - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#see {
    width: 100px;
    height: 40px;
    border: 1px solid #F47826;
    border-radius: 50px;
    background-color: #F47826;
    position: relative;
    float: right;
}

#see a {
    text-decoration: none;
}

.title .author p {
    text-align: center;
}

.title {
    font-size: 1rem;
    font-family: 'QuattrocentoSans-Regular';
    font-weight: 800;
    line-height: 10px;
}

.author {
    font-size: 1rem;
    font-family: 'QuattrocentoSans-Regular';
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    line-height: 10px;
    margin: 10px 0;
}

/* END GENRE PLUS LUS  */

/* SECTION TEXTE  */
#text {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-between;
}

.texte {
    width: 500px;
    height: 500px;
    border: 2px solid black;
    border-radius: 30px;
    padding-left: 30px;
    margin-top: 70px;
    margin-left: 70px;
    background-color: #F47826;
}

.bouquine {
    font-size: 1.8rem;
    font-family: 'QuattrocentoSans-Regular';
    font-weight: bold;
    text-align: center;
    margin: 50px;
}

.list li {
    font-size: 1.4rem;
    font-family: 'QuattrocentoSans-Regular';
    list-style-type: square;
    margin-left: 20px;
}

.image {
    width: 500px;
    height: 500px;
    margin-top: 70px;
    margin-right: 100px;
    border-radius: 40px;
}

/* END SECTION TEXTE */

/* SECTION NEWSLETTER */
.parallax-section .newsletter {
    width: 100%;
    height: 400px;
}

.parallax {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax.parallax1.news {
    width: 100%;
    height: 400px;
}

/* .newsletter {
    width: 100%;
    height: 350px;
} */

.news {
    width: 100%;
    height: 300px;
    position: absolute;
}

#titl {
    font-family: 'QuattrocentoSans-Regular';
    text-transform: uppercase;
    font-size: 2rem;
    color: black;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}

.formulaire {
    width: 500px;
    height: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

label {
    font-size: 1.5rem;
    font-family: 'QuattrocentoSans-Bold';
    color: black;
}

input {
    width: 400px;
    height: 40px;
    border-radius: 10px;
    background-color: #d98f21e3;
}

#send {
    width: 100px;
    height: 30px;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'QuattrocentoSans-Regular';
    color: black;
    background-color: #d98f21e3;
    border-radius: 50px;
    position: relative;
    float: right;
    margin: 30px;
    cursor: pointer;
}

.abonner {
    width: 100%;
    height: 100px;
    font-size: 1.3rem;
    font-weight: 500;
    font-family: 'QuattrocentoSans-Regular';
    color: black;
    text-align: center;
}

/* end section newsletter */

/* section contact */

#contact {
    width: 1100px;
    height: 500px;

}

.container-contact {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: baseline;
    margin-left: 130px;
    margin-top: 60px;


}

#us {
    width: 1300px;
    height: 70px;
    font-family: 'QuattrocentoSans-Bold';
    text-transform: uppercase;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 50px;

}

.localisation {
    width: 400px;
    height: 400px;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'QuattrocentoSans-Bold';
    color: black;
}

.localisation img {
    width: 100px;
    height: 100px;
    margin-left: 10px;
}

.horaire {
    width: 400px;
    height: 400px;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'QuattrocentoSans-Bold';
    color: black;
}

.horaire img {
    width: 100px;
    height: 100px;
    margin-left: 20px;
}

.mail {
    width: 400px;
    height: 400px;
    margin: 50px;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'QuattrocentoSans-Bold';
    color: black;

}

.mail img {
    width: 100px;
    height: 100px;
    margin-left: 10px;
}

a {
    text-decoration: none;
}

a:link {
    color: #000;
}

a:visited {
    color: #e600e6;
    border-bottom: 1px solid #b3b3b3;
}

a:hover {
    color: #F47826;
}

.adress {
    margin-top: 30px;
}

.hour {
    margin-top: 30px;
    margin-left: 30px;
}

.contactus {
    margin-top: 30px;
}

.contactus p a {
    width: 200px;
    height: 70px;
    text-align: center;
}

/* END SECTION CONTACT */

/* SECTION COMPTEUR  */
.parallax-section .compteur {
    width: 100%;
    height: 350px;
}

.parallax {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../image/compteur.jpg);
}

.stat {
    width: 200px;
    height: 200px;
    border: 5px solid #F47826;
    border-radius: 30px;
    box-shadow: 2px 2px 2px 1px #F4B97A;
}

.parallax.parallax1.count {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p.livre {
    font-size: 1.5rem;
    font-family: 'QuattrocentoSans-Bold';
    font-weight: 700;
    text-align: center;
    margin-top: 50px;
}

#stars {
    width: 190px;
    height: 40px;
    margin: 0 auto;
}

/* END SECTION COMPTEUR  */

/* SECTION AVIS DES LECTEURS  */

#lecteur {
    width: 100%;
    height: 400px;

}

h2.lector {
    width: 300 px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    font-family: 'QuattrocentoSans-Bold';
    text-transform: uppercase;
    font-size: 1.8rem;
    color: rgb(0, 0, 0);
}

.avis {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
}

.notice {
    width: 300px;
    height: 300px;
    border: 3px solid #F47826;
    border-radius: 40px;
    background-color: #F47826;
}

h3.name {
    width: 140px;
    height: 10px;
    font-family: 'QuattrocentoSans-regular';
    font-size: 1.3rem;
    color: rgb(0, 0, 0);
    margin-left: 20px;
    margin-top: 30px;
}

.notice img {
    width: 70px;
    height: 70px;
    float: right;
    margin-right: 30px;
    border-radius: 50%;
}

p.value {
    font-family: 'QuattrocentoSans-regular';
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    font-weight: 700;
    margin-top: 100px;
    margin-left: 10px;
    text-align: left;
}

/* end section avis lecteur  */

/* SECTION FOOTER */

footer {

    position: fixed;
    z-index: 2;
    bottom: 0;
    left: 0;
    right: 0;
}

#end {
    width: 100%;
    height: 100px;
    background-color: hsl(38, 89%, 48%);
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

img.img1 {
    width: 100px;
    height: 100px;
}

img.social {
    width: 50px;
    height: 50px;
    margin: 10px;
}

.pol {
    width: 120px;
    height: 50px;
    font-family: 'QuattrocentoSans-regular';
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    font-weight: 700;
    text-align: center;
}

.politique {
    width: 250px;
    height: 50px;
    font-family: 'QuattrocentoSans-regular';
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    font-weight: 700;
}

p#copy {
    /* width: 200px;
    height: 50px; */
    font-family: 'QuattrocentoSans-Bold';
    font-size: 1rem;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 10px;
}

.copyright {
    width: 100%;
    height: 30px;
    background-color: hsl(38, 89%, 48%);
}

/* end footer */

/* PAGE RESUME LIVRE */

#books {
    width: 100%;
    height: auto;
    background-color: #ffb24e8c;
    /* display: flex; */
}

.contain {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.resume {
    width: 400px;
    height: 400px;
    margin-left: 80px;
    margin-top: 80px;
}

#circe {
    width: 300px;
    height: 400px;
    border-radius: 10px;
}

#circe:hover {
    opacity: 60%;
}

.resum {
    width: 330px;
    height: 400px;
    background-color: #FFB34E;
    margin-top: 50px;
    border-radius: 10px;
    border: 3px solid #FFB34E;
    box-shadow: rgba(227, 95, 12, 0.798) 0px 3px 8px;
}

.resum h3 {
    font-size: 1.3rem;
    font-family: 'QuattrocentoSans-Bold';
    font-weight: 700;
    line-height: 20px;
    color: #000;
    text-align: center;
    margin-top: 20px;

}

.resum p {
    font-size: 1.1rem;
    font-family: 'QuattrocentoSans-Regular';
    font-weight: 500;
    color: #000;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
}

.lus {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

h3.read {
    width: 100%;
    height: 40px;
    font-size: 1.3rem;
    font-family: 'QuattrocentoSans-Bold';
    font-weight: 700;
    /* margin-top: 40px; */
    color: #000;
    text-align: left;
    font-style: italic;
}

.lus img {
    width: 250px;
    height: 350px;
    border-radius: 5px;
    margin-top: 30px;

}

p.titl1 {
    font-size: 1rem;
    font-family: 'QuattrocentoSans-Regular';
    font-weight: 800;
    text-align: center;
    padding-top: 10px;
}

p.author1 {
    font-size: 1rem;
    font-family: 'QuattrocentoSans-Regular';
    font-weight: 800;
    text-align: center;
    padding-top: 10px;
    color: rgba(0, 0, 0, 0.5);
}

.description {
    width: 100%;
    height: auto;
    /* background-color: brown; */
    margin-top: 50px
}

h3.describe {
    font-size: 1.3rem;
    font-family: 'QuattrocentoSans-Bold';
    font-weight: 700;
    color: #000;
    margin-left: 30px;
}

h4.bio {
    font-size: 1.2rem;
    font-family: 'QuattrocentoSans-Bold';
    font-weight: 700;
    color: #000;
    margin-left: 30px;
    margin-top: 15px;
}

p.miller {
    width: 100%;
    height: 70px;
    font-size: 1.1rem;
    font-family: 'QuattrocentoSans-Bold';
    font-weight: 700;
    color: #000;
    margin-top: 40px;
    margin-left: 30px;
    font-style: italic;
}

.list {
    width: 100%;
    height: auto;
}

h4.detail {
    font-size: 1.2rem;
    font-family: 'QuattrocentoSans-Regular';
    font-weight: 700;
    color: #000;
    margin-left: 30px;
}

ul.liste {
    width: 600px;
    height: auto;
}

.liste li {
    list-style-type: circle;
    font-size: 1.2rem;
    font-family: 'QuattrocentoSans-Regular';
    font-weight: 500;
    color: #000;
    margin-left: 30px;
}

h3.dispo {
    width: 100%;
    height: 30px;
    font-size: 1.3rem;
    font-family: 'QuattrocentoSans-Bold';
    font-weight: 700;
    margin-top: 40px;
    color: #000;
    text-align: left;
    font-style: italic;
}

.livr {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 50px;

}

p.title2 {
    font-size: 1rem;
    font-family: 'QuattrocentoSans-Regular';
    font-weight: 800;
    text-align: center;
    padding-top: 10px;
}

p.author2 {
    font-size: 1rem;
    font-family: 'QuattrocentoSans-Regular';
    font-weight: 800;
    text-align: center;
    /* padding-top: 5px; */
    color: rgba(0, 0, 0, 0.5);
}

.item3 img {
    width: 250px;
    height: 350px;
    border-radius: 5px;
}

/* END SECTION PAGE RESUME */

/* SECTION CATALOGUE */
#catalogue {
    width: 100%;
    height: auto;

}

.catal {
    width: 100%;
    height: 1500px;
}

.searching {
    width: 100%;
    height: 100px;
}

h2.catalog {
    font-size: 3rem;
    font-family: 'QuattrocentoSans-Regular';
    font-weight: 800;
    text-align: center;
    margin-top: 30px;
    text-transform: uppercase;
}

.search1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#recherche {
    width: 520px;
    height: 40px;
    background: #f4b97a95;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .3) inset;
    border-radius: 2em;

}

#recherche .loupe {
    background: url(../image/loupe.svg) no-repeat 0 0;
    width: 50px;
    cursor: pointer;
}

#recherche input {
    border: none;
    margin: 0;
    height: 40px;
    float: left;
    display: block;
}

#recherche input[type=text] {
    font: 300 12px 'QuattrocentoSans-Regular', sans-serif;
    background: none;
    width: 470px;
    padding: 0 15px;

}

img.setting {
    width: 45px;
    height: 45px;
    border: 3px solid black;
    border-radius: 10px;
    margin-left: 10px;
}

.item4 {
    width: 200px;
    height: 380px;
}

.item4 img {
    width: 200px;
    height: 270px;
    border-radius: 5px;
}

.books {
    width: 100%;
    height: 1600px;

}

.books-catalog {
    width: 200px;
    height: 250px;
}

.container-books {
    display: flex;
    justify-content: space-around;
}

p.titles {
    font-size: 1.2rem;
    font-family: 'QuattrocentoSans-Regular', sans-serif;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;

}

p.authors {
    font-size: 1rem;
    font-family: 'QuattrocentoSans-Regular', sans-serif;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);

}

/* END CATALOGUE */

/* PAGE INFOS PRATIQUES */

.info {
    width: 100%;
    height: 700px;
    background: #f4b97a95;

}

.news {
    width: 100%;
    height: 700px;
}

.infos {
    width: 100%;
    height: 80px;
}

h2.infos {
    font-size: 2.5rem;
    font-family: 'QuattrocentoSans-Regular';
    font-weight: 800;
    text-align: center;
    margin-top: 30px;
    text-transform: uppercase;
}

.consignes {
    width: 100%;
    height: 600px;
}

ol.consignes {
    list-style-type: decimal;
    text-align: center;
    font-family: 'QuattrocentoSans-Regular';
    font-weight: 700;

}

ol.consignes li {
    margin-bottom: 10px;
    line-height: 1.5;
}

/* END INFO PRATIQUES */

/* POP UP CONNEXION */

#connexion {
    width: 100%;
    height: 800px;
    font-family: 'Roboto', sans-serif;
    position: absolute;
}

.lettreb {
    width: 100%;
    height: 140px;
}

.b {
    width: 150px;
    height: 150px;
}

img.b {
    margin: 0 auto;
    display: block;
}

.social-media {
    width: 100%;
    height: 25px;
}

form {
    width: 100%;
    height: 250px;
    padding: 40px 60px;
    border-radius: 10px;
    min-width: 600px;
}

.connect {
    width: 100%;
    height: 50px;
    margin-top: 0;
}

h2.connect {
    font-size: 2rem;
    font-family: 'QuattrocentoSans-Regular';
    font-weight: 700;
    text-align: center;
    color: #eb7371;
    text-align: center;
    padding-top: 80px;
}

.social-media {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.social-media p {
    margin-top: 80px;
    margin-right: 10px;
    width: 30px;
    text-align: center;
    cursor: pointer;
    color: #1b5bd2bc;
}
.social-media a:visited{
    color: blue;
}
.social-media p:hover {
    color: #b9671b;
}

p.email {
    text-align: center;
    margin-top: 120px;
    font-size: 1.3rem;
    font-family: 'QuattrocentoSans-Regular';
    font-weight: 600;
}

form .inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form .inputs input[type='email'],
input[type='password'] {
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    margin-bottom: 15px;
}

form p.inscription {
    font-size: 14px;
    margin-bottom: 20px;
    color: #878787;
    text-align: center;
}
.inscription a:visited{
    color: #ed20d5;
}
form button {
    padding: 15px 25px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    background-color: #74EC8D;
    outline: none;
    cursor: pointer;
}

/* FIN CONNEXION */