* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'QuattrocentoSans-Regular';
    src: url(../fonts/QuattrocentoSans-Regular.ttf);
}

@font-face {
    font-family: 'QuattrocentoSans-Bold';
    src: url(../fonts/QuattrocentoSans-Bold.ttf);
}

@font-face {
    font-family: 'LRT Oksana';
    src: url(../fonts/LRT\ Oksana.ttf);
}

@font-face {
    font-family: 'LRT Oksana Bold';
    src: url(../fonts/LRT\ Oksana\ Bold.ttf);
}

@font-face {
    font-family: 'LRT Oksana Italic';
    src: url(../fonts/LRT\ Oksana\ Italic.ttf);
}

li {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
}

/* *************************HEADER *************************/

header#head {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    /* position: fixed; */
}

.logo {
    height: 90px;
}

.logo img {
    height: 70px;
    display: block;
}

#close-menu {
    display: none;
}

nav.header-nav {
    width: 100%;
    height: 120px;
    display: flex;
    color: #000;
    align-items: center;
    justify-content: center;
}

nav ul {
    display: flex;
    color: #000;
}

ul.menu {
    width: 800px;

}

nav li {
    position: relative;
    margin: auto;
}

nav a {
    display: block;
    padding: 10px;
    color: black;
    font-size: 1rem;
    font-family: 'Quattrocento-Regular', sans-serif;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 200px;
}

nav ul li a {
    display: block;
    font-size: 1rem;
    transition: all 0.8s ease;
   }

nav ul li a:hover {
    color: black;
    background-color: #6b74eb;
    border-radius: 5px;
}

nav ul li:hover>ul {
    display: block;
    z-index: 5;
}

nav ul ul li {
    position: relative;
}

nav ul ul a {
    padding: 10px 15px;
}

nav input[type="search"] {
    width: 300px;
    height: 35px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #5a62be;
    background-color: white;
}

nav.menu-icon {
    display: none;
}

li.search-box {
    width: 450px;
}

#form-header {
    width: 550px;
    height: 100px;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0;
}

#deconnect {
    width: 150px;
    height: 50px;
    padding: 0;
    margin: 0 auto;
}

img.img-user {
    height: 50px;
}

button#search-button1 {
    width: 120px;
    height: 35px;
    margin-left: 20px;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Quattrocento-Regular', sans-serif;
    background-color: #5a62be;
    padding: 0 10px;
    border: none;
    border-radius: 10px;
    color: white;
}

a.img-user {
    width: 60px;
    padding: 0;
}

input#user-connect {
    width: 120px;
    height: 35px;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Quattrocento-Regular', sans-serif;
    background-color: #5a62be;
    padding: 0 10px;
    color: white;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 10px;
}

#user-deconnect#user-connect {
    width: 120px;
    height: 35px;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Quattrocento-Regular', sans-serif;
    background-color: #5a62be;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}

input#user-deconnect:hover {
    opacity: 40%;
}

.user-name {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
}

.nom {
    width: 30px;
    margin-left: 5px;
}

.user-name a {
    width: 100px;
    height: 50px;
}

/* **************media queries header ********************/

@media only screen and (max-width: 400px) {

    .header-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .label-hamburger {
        display: block;
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 24px;
        cursor: pointer;
    }

    .logo {
        margin-top: 50px;
    }

    .menu {
        margin-top: 20px;
    }

    .menu li {
        margin: 10px 0;
        text-align: center;
    }

    .menu li.search-box {
        margin-top: 30px;
    }

    #form-header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #form-header input[type=search] {
        width: 60%;
        margin-right: 5px;
        margin-bottom: 5px;
    }

    #form-header button {
        width: 30%;
        margin-bottom: 5px;
    }

    .img-user {
        margin-top: 30px;
    }

    #user-connect {
        margin-top: 10px;
    }

}

/* ******************fin media queries header*****************

/******************** EN TETE ****************************** */

.parallax-section {
    width: 100%;
    height: 550px;
}

.parallax {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax.parallax1 {
    width: 100%;
    height: 550px;
    background-image: url("../image/lecture.jpg");
}

h1 {
    font-family: 'QuattrocentoSans-Bold', sans-serif;
    font-size: 4rem;
    text-align: right;
    text-transform: uppercase;
    height: 80px;
    padding-top: 50px;
    color: white;
    margin-right: 50px;
}

#explain {
    /* width: 500px; */
    height: 300px;
    font-family: 'QuattrocentoSans-Bold', sans-serif;
    font-size: 2rem;
    float: right;
    padding-top: 80px;
    color: white;
    margin-right: 50px;
}

/* ***************SECTION LES PLUS POPULAIRES************** */

.populaire {
    width: 100%;
    height: auto;
    background-color: #3C4048;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 40px;

}

.popular {
    width: 100%;
    height: 120px;
    font-family: 'QuattrocentoSans-Regular', sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    text-align: center;
    /* margin-top: 30px; */
    margin-top: 50px;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.item img {
    width: 200px;
    height: 300px;
    border-radius: 5px;
}

.item img:hover {
    opacity: 40%;
}

.item {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

#resume {
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 50px;
    background-color: #5a62be;
    margin: 10px;
}

#resume a {
    text-decoration: none;
    color: white;
}

.title .author p {
    text-align: center;
}

.title {
    font-size: 1rem;
    font-family: 'QuattrocentoSans-Regular', sans-serif;
    font-weight: 500;
    line-height: 10px;
    color: white;
}

.author {
    font-size: 1rem;
    font-family: 'QuattrocentoSans-Regular', sans-serif;
    font-weight: 400;
    color: white;

}

/******************* END SECTION POPULAIRES **************** */

/* -----*********responsive parallax popular**************** */
@media only screen and (max-width: 400px) {
    .parallax-section h1 {
        font-size: 24px;
    }

    #explain {
        font-size: 12px;
        line-height: 18px;
        margin-top: 10px;
    }

    .popular {
        font-size: 24px;
        margin-top: 10px;
    }

    .item {
        width: 100%;
        margin-bottom: 20px;
    }

    .container {
        display: block;
    }

    .container .item {
        margin-bottom: 20px;
    }

    .container .item .title,
    .container .item .author {
        font-size: 16px;
        line-height: 24px;
    }

    .container .item img {
        width: 100%;
    }

    #resume {
        font-size: 12px;
        padding: 5px 10px;
        margin-top: 5px;
    }
}

/********************* end populaire ************************/


/* ***********************SECTION NOUVEAUTES***************  */

#new {
    width: 100%;
    height: 400px;
    /* background-color: #62c465e4; */
    padding-top: 20px;
}

#nouveautes {
    width: 100%;
    height: 40px;
    font-family: 'QuattrocentoSans-Regular', sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: black;
    font-weight: bold;
    text-align: center;
}

.slider {
    height: 420px;
    position: relative;
    overflow: hidden;
    max-width: 800px;
    aspect-ratio: 16/9;
    margin: auto;
}

.slider [src] {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    opacity: 0;
    left: 0;
    height: 300px;
    width: 100%;
    animation: slide 9s linear infinite
}

.slider [src="../image/fantastique.png"] {
    animation-delay: 3s
}

.slider [src="../image/nature.png"] {
    animation-delay: 6s
}

@keyframes slide {
    0% {
        opacity: 0
    }

    12% {
        opacity: 1;
        transform: scale(1.03)
    }

    25% {
        opacity: 1;
        transform: scale(1.06);
    }

    37% {
        opacity: 0;
        transform: scale(1.30);
    }

    100% {
        opacity: 0;
    }
}

/******************* end of section nouveautés ***************/

/******************* SECTION GENRE PREFERES ******************/

#gender {
    width: 100%;
    height: 1600px;
    background-color: #ff9a26;
}

#prefers {
    width: 100%;
    height: 80px;
    font-family: 'QuattrocentoSans-Regular', sans-serif;
    text-transform: uppercase;
    font-size: 1.8rem;
    color: black;
    font-weight: bold;
    text-align: center;
}

h2#prefers {
    padding-top: 30px;
}

#romance {
    font-size: 1.5rem;
    font-family: 'QuattrocentoSans-Regular', sans-serif;
    font-weight: 800;
    line-height: 10px;
    margin-left: 60px;
}

.container1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding-top: 30px;
}

.item1 img {
    width: 200px;
    height: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.item1 img:hover {
    opacity: 40%;
}

.item1 {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button#see {
    width: 80px;
    height: 30px;
    border-radius: 50px;
    background-color: #5a62be;
    position: relative;
    float: right;
    color: white;
    border: none;
}

#see a {
    text-decoration: none;
    color: white;
}

.title-gender .author-gender p {
    text-align: center;
}

.title-gender {
    font-size: 1rem;
    font-family: 'QuattrocentoSans-Regular', sans-serif;
    font-weight: 800;
    line-height: 10px;
}

.author-gender {
    font-size: 1rem;
    font-family: 'QuattrocentoSans-Regular', sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    line-height: 10px;
}

hr.gender1 {
    width: 80%;
    border-top: 5px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    margin: 0 auto;
    margin-top: 20px;
}

hr.gender1:after {
    background: #fff;
    content: '§';
    padding: 0 4px;
    position: relative;
    top: -13px;
}

/***************SECTION FANTAISIE****************************/

#fantaisie {
    font-size: 1.5rem;
    font-family: 'QuattrocentoSans-Regular', sans-serif;
    font-weight: 800;
    line-height: 10px;
    margin: 40px;
    margin-left: 60px;
}

.container2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.item2 img {
    width: 200px;
    height: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.item2 img:hover {
    opacity: 40%;
}

.item2 {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#see {
    width: 100px;
    height: 40px;
    border-radius: 50px;
    background-color: #5a62be;
    position: relative;
    float: right;
    color: white;
    border: none;
}

#see a {
    text-decoration: none;
}

.title-fant .author-fant p {
    text-align: center;
}

.title-fant {
    font-size: 1rem;
    font-family: 'QuattrocentoSans-Regular', sans-serif;
    font-weight: 800;
    line-height: 10px;
    color: #000;
}

.author-fant {
    font-size: 1rem;
    font-family: 'QuattrocentoSans-Regular', sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    line-height: 10px;
}

/*****************SECTION ACTION*****************************  */
#action {
    font-size: 1.5rem;
    font-family: 'QuattrocentoSans-Regular', sans-serif;
    font-weight: 800;
    line-height: 10px;
    margin: 40px;
    margin-left: 60px;
}

.container3 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.item3 img {
    width: 200px;
    height: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.item3 img:hover {
    opacity: 40%;
}

.item3 {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#see {
    width: 100px;
    height: 40px;
    border-radius: 50px;
    background-color: #5a62be;
    position: relative;
    float: right;
    color: white;
    border: none;
}

#see a {
    text-decoration: none;
}

.title-act.author-act p {
    text-align: center;
}

.title-act {
    font-size: 1rem;
    font-family: 'QuattrocentoSans-Regular', sans-serif;
    font-weight: 800;
    line-height: 10px;
}

.author-act {
    font-size: 1rem;
    font-family: 'QuattrocentoSans-Regular', sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    line-height: 10px;
    margin: 10px 0;
}

/**************** END GENRE PLUS LUS  *************************/

/******************** SECTION TEXTE ************************* */

#text {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    background-color: #3C4048;
}

.texte {
    width: 400px;
    height: 400px;
    border: 2px solid white;
    border-radius: 30px;
    margin-top: 20px;
}

.bouquine {
    font-size: 1.5rem;
    font-family: 'QuattrocentoSans-Regular', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    color: white;
}

.list {
    height: 400px;
    font-size: 1.2rem;
    font-family: 'QuattrocentoSans-Regular', sans-serif;
    margin-top: 20px;
    text-align: center;
    color: white;
}

.image {
    height: 400px;
    border-radius: 40px;
}

/********************* END SECTION TEXTE *******************/

/************************ SECTION NEWSLETTER ****************/

.parallax-section.newsletter {
    width: 100%;
    height: 400px;
}

.parallax {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax.parallax1.news {
    width: 100%;
    height: 400px;
    background-image: url("../image/newsletter.png");
}

.news {
    width: 100%;
    height: 300px;
    position: absolute;
}

#titl {
    font-family: 'QuattrocentoSans-Regular', sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    color: white;
    text-align: center;
    margin-top: 30px;
}

.formulaire {
    width: 500px;
    height: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.formulaire label {
    font-size: 1.3rem;
    font-family: 'QuattrocentoSans-Regular', sans-serif;
    color: white;
}

input#email {
    width: 400px;
    height: 35px;
    border-radius: 10px;
    background-color: white;
}

#send {
    width: 120px;
    height: 35px;
    font-size: 1.2rem;
    font-family: 'QuattrocentoSans-Regular', sans-serif;
    font-weight: 500;
    color: white;
    background-color: #5a62be;
    border-radius: 50px;
    position: relative;
    float: right;
    margin-bottom: 30px;
    cursor: pointer;
    padding: 0 10px;
}

.abonner {
    width: 100%;
    height: 100px;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: 'QuattrocentoSans-Regular', sans-serif;
    color: white;
    margin-top: 30px;
    text-align: center;
}

/***************** end section newsletter***************** */

/******************* SECTION CONTACT********************** */

#contact {
    width: 100%;
    height: 400px;
    background-color: white;
}

.container-contact {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

#us {
    width: 100%;
    height: 50px;
    font-family: 'QuattrocentoSans-Bold';
    text-transform: uppercase;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 40px;
}

.localisation {
    width: 400px;
    height: 300px;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'QuattrocentoSans-Bold';
    color: black;
}

.localisation img {
    width: 100px;
    height: 100px;
}

.horaire {
    width: 400px;
    height: 300px;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'QuattrocentoSans-Bold';
    color: black;
}

.horaire img {
    width: 100px;
    height: 100px;
}

.mail {
    width: 400px;
    height: 300px;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'QuattrocentoSans-Bold';
    color: black;
}

.mail img {
    width: 100px;
    height: 100px;
}

a {
    text-decoration: none;
}

a:link {
    color: #000;
}

a:visited {
    color: #000000;
    border-bottom: 1px solid #b3b3b3;
}

a:hover {
    color: black;
}

.adress {
    margin-top: 30px;
}

.hour {
    margin-top: 30px;
}

.contactus {
    margin-top: 30px;
}

.contactus p a {
    width: 200px;
    height: 70px;
    text-align: center;
}

/********************* END SECTION CONTACT *****************/

/********************** SECTION COMPTEUR ****************** */

.parallax-section.compteur {
    width: 100%;
    height: 350px;
}

section.parallax-section.compteur {
    width: 100%;
    height: 350px;
}

.parallax.parallax1.count {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../image/livres.jpg);
}

.stat {
    width: 200px;
    height: 200px;
    border: 5px solid black;
    border-radius: 30px;
    box-shadow: 2px 2px 2px 1px #3C4048;
}

.parallax.parallax1.count {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p.livre {
    font-size: 1.5rem;
    font-family: 'QuattrocentoSans-Bold', sans-serif;
    color: black;
    font-weight: 600;
    text-align: center;
    margin-top: 40px;
}

#stars {
    width: 190px;
    height: 40px;
    margin: 0 auto;
}

/* *********************END SECTION COMPTEUR  ***************/

/****************** SECTION AVIS DES LECTEURS****************  */

section#lecteur {
    width: 100%;
    height: 550px;
    padding-top: 20px;
}

h2.lector {
    width: 300 px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    font-family: 'QuattrocentoSans-Bold', sans-serif;
    text-transform: uppercase;
    font-size: 1.8rem;
    color: white;
}

.avis {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

.notice {
    width: 300px;
    height: 300px;
    border: 3px solid black;
    border-radius: 40px;
    background-color: #5a62be;

}

h3.name {
    width: 140px;
    height: 10px;
    font-family: 'QuattrocentoSans-regular', sans-serif;
    font-size: 1.3rem;
    color: white;
    margin-left: 20px;
    margin-top: 30px;
}

.notice img {
    width: 70px;
    height: 70px;
    float: right;
    margin-right: 30px;
    border-radius: 50%;
}

p.value {
    font-family: 'QuattrocentoSans-regular', sans-serif;
    font-size: 1.2rem;
    color: white;
    font-weight: 500;
    margin-top: 100px;
    margin-left: 10px;
    text-align: left;
}

/************** end section avis lecteur******************  */

/********************** SECTION FOOTER********************* */
footer {
    width: 100%;
    height: 130px;
    z-index: 2;
    bottom: 0;
    left: 0;
    display: none;
}

#end {
    width: 100%;
    height: 110px;
    background-color: white;
}

.contain-footer {
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img.img1 {
    width: 130px;
    height: 130px;
    margin-top: 25px;
}

.reseaux {
    width: 400px;
    height: 130px;
    display: flex;
    align-items: center;
}

img.social {
    width: 50px;
    height: 50px;
    margin: 10px;
}

.pol {
    width: 150px;
    height: auto;
    font-family: 'QuattrocentoSans-regular', sans-serif;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    font-weight: 700;
    text-align: center;
}

.politique {
    width: 400px;
    height: auto;
    font-family: 'QuattrocentoSans-regular', sans-serif;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    font-weight: 700;
}

p#copy {
    font-family: 'QuattrocentoSans-Bold', sans-serif;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    height: 20px;
}

.copyright {
    background-color: #00ABB3;
    text-align: center;
}

/******************** END FOOTER********************/

/* ------------------RESPONSIVE FOOTER----------------------- */

@media only screen and (max-width: 400px) {
    #end {
        text-align: center;
    }

    .img1 {
        width: 80%;
    }

    .pol,
    .politique {
        margin-top: 20px;
    }

    .social {
        margin: 0 10px;
        width: 25px;
        height: 25px;
    }
}

/* *******************PAGE RESUME LIVRE *********************/

#books {
    width: 100%;
    height: auto;
    background-color: #EAEAEA;
}

.contain {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resume {
    width: 450px;
    height: auto;
    margin-left: 60px;
    margin-top: 60px;
}

#circe {
    width: 300px;
    height: 400px;
    border-radius: 10px;
}

#circe:hover {
    opacity: 60%;
}

.resum {
    width: 300px;
    height: auto;
    background-color: #EAEAEA;
    margin-top: 50px;
    border-radius: 10px;
    border: 3px solid white;
    box-shadow: #4950a1 0px 3px 8px;
}

.resum h3 {
    font-size: 1.3rem;
    font-family: 'QuattrocentoSans-Bold', sans-serif;
    font-weight: 700;
    line-height: 20px;
    color: #000;
    text-align: center;
    margin-top: 20px;
}

.resum p {
    font-size: 1.1rem;
    font-family: 'QuattrocentoSans-Regular', sans-serif;
    font-weight: 500;
    color: #000;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
}

hr.nb1 {
    border: none;
    border-top: 5px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    margin-top: 50px;
}

hr.nb1:after {
    background: #fff;
    content: '§';
    padding: 0 4px;
    position: relative;
    top: -13px;
}

.lus {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

h3.read {
    width: 100%;
    height: 40px;
    font-size: 1.4rem;
    font-family: 'QuattrocentoSans-Bold', sans-serif;
    font-weight: 700;
    margin-top: 40px;
    color: #000;
    text-align: left;
    font-style: italic;
}

.lus img {
    width: 250px;
    height: 350px;
    border-radius: 5px;
    margin-top: 30px;
}

.lus img:hover {
    opacity: 60%;
}

p.titl1 {
    font-size: 1rem;
    font-family: 'QuattrocentoSans-Regular', sans-serif;
    font-weight: 800;
    text-align: center;
    padding-top: 10px;
}

p.author1 {
    font-size: 1rem;
    font-family: 'QuattrocentoSans-Regular', sans-serif;
    font-weight: 800;
    text-align: center;
    padding-top: 10px;
    color: rgba(0, 0, 0, 0.5);
}

.description {
    height: auto;
    margin-top: 50px
}

h3.describe {
    font-size: 1.4rem;
    font-family: 'QuattrocentoSans-Bold', sans-serif;
    font-weight: 700;
    color: #000;
    margin-left: 30px;
}

h4.bio {
    font-size: 1.2rem;
    font-family: 'QuattrocentoSans-Bold', sans-serif;
    font-weight: 700;
    color: #000;
    margin-left: 30px;
    margin-top: 15px;
}

p.miller {
    /* width: 100%; */
    height: 70px;
    font-size: 1.1rem;
    font-family: 'QuattrocentoSans-Bold', sans-serif;
    font-weight: 700;
    color: #000;
    margin-top: 40px;
    margin-left: 30px;
    font-style: italic;
}

.list {
    width: 100%;
    height: auto;
}

h4.detail {
    width: 300px;
    text-align: justify;
    font-size: 1.2rem;
    font-family: 'QuattrocentoSans-Regular', sans-serif;
    font-weight: 700;
    color: #000;
    margin-bottom: 20px;
}

ul.liste {
    width: 300px;
    height: auto;
    text-align: justify;
}

.liste li {
    list-style-type: circle;
    font-size: 1.2rem;
    font-family: 'QuattrocentoSans-Regular', sans-serif;
    font-weight: 500;
    color: #000;
    margin-left: 30px;
}

h3.dispo {
    width: 100%;
    height: 30px;
    font-size: 1.4rem;
    font-family: 'QuattrocentoSans-Bold', sans-serif;
    font-weight: 700;
    margin-top: 40px;
    color: #000;
    text-align: left;
    font-style: italic;
}

.livr {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

p.title2 {
    font-size: 1rem;
    font-family: 'QuattrocentoSans-Regular', sans-serif;
    font-weight: 800;
    text-align: center;
    padding-top: 10px;
}

p.author2 {
    font-size: 1rem;
    font-family: 'QuattrocentoSans-Regular', sans-serif;
    font-weight: 800;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}

.item3 img {
    width: 250px;
    height: 350px;
    border-radius: 5px;
}

.item3 img:hover {
    opacity: 50%;
}

/* *****************END SECTION PAGE RESUME *****************/

/* -----------RESPONSIVE RESUME LIVRE---------------------- */

@media screen and (max-width: 400px) {
    /* styles pour écrans de 400px ou moins */

    /* Réduire la taille de la police pour améliorer la lisibilité */
    body {
        font-size: 14px;
    }

    /* Cacher l'image dans la section #books */
    #books img {
        display: none;
    }

    /* Ajuster la mise en page pour une meilleure expérience mobile */
    #books .contain {
        display: flex;
        flex-direction: column;
    }

    #books .resum {
        margin-top: 1rem;
    }

    #books .description {
        margin-top: 1rem;
    }

    #books .liste {
        margin-left: 0;
        padding-left: 0;
        list-style: none;
    }

    #books .liste li {
        margin-bottom: 0.5rem;
    }

    #books .livr {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 1rem;
    }

    #books .item3 {
        flex-basis: 48%;
        margin-bottom: 1rem;
    }
}

/* ---------------END RESPONSIVE RESUME LIVRE ---------------- */

/*************************** SECTION CATALOGUE**************** */

#catalogue {
    width: 100%;
    height: auto;
}

.catal {
    width: 100%;
    height: auto;
}

h2.catalog {
    font-size: 3rem;
    font-family: 'QuattrocentoSans-Regular', sans-serif;
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
    text-transform: uppercase;
}

.formul-s {
    width: 100%;
    height: 80px;
    margin-bottom: 30px;
}

form#catalog-form {
    display: inline-block;
    width: 100%;
    height: 100px;
    font-family: 'QuattrocentoSans-Regular', sans-serif;
    font-weight: 600;
}

.formul-s label {
    display: none;
    font-family: 'QuattrocentoSans-Regular', sans-serif;
    font-weight: 600;
}

input#search-book {
    width: 450px;
    height: 40px;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}

button#search-button {
    width: 120px;
    height: 35px;
    margin-left: 20px;
    font-size: 1rem;
    font-family: 'Quattrocento-Regular', sans-serif;
    background-color: #5a62be;
    border-radius: 10px;
    padding: 0 10px;
    border: none;
    color: white;
}

.item4 {
    width: 200px;
    height: 380px;
    margin: 0 auto;
}

.item4 img {
    width: 200px;
    height: 270px;
    border-radius: 5px;
}

.books {
    width: 100%;
    height: 100%;
    margin-top: 100px;
}

.books-catalog {
    width: 400px;
    height: 300px;
    margin: 100px auto;
}

.container-books {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 100px auto;
    height: 100%;
}

p.titles {
    font-size: 1.2rem;
    font-family: 'QuattrocentoSans-Regular', sans-serif;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}

p.authors {
    font-size: 1rem;
    font-family: 'QuattrocentoSans-Regular', sans-serif;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);

}

/******************** END CATALOGUE ************************/

/* --------------------RESPONSIVE CATALOGUE------------------  */

@media only screen and (max-width: 400px) {

    /* Styles à appliquer pour les écrans de 400px ou moins */
    #catalogue {
        padding: 10px;
    }

    .catalog {
        font-size: 1.5em;
    }

    .formul-s {
        margin-top: 10px;
    }

    #search-book {
        width: 80%;
        margin-right: 10px;
    }

    #search-button {
        width: 18%;
    }

    .books-catalog {
        width: 100%;
        margin-bottom: 10px;
    }

    .item4 {
        width: 100%;
    }

    .titles {
        font-size: 1.2em;
    }

    .authors {
        font-size: 1em;
    }
}

/* --------------END RESPONSIVE CATALOGUE ------------------- */

/*********************** PAGE PARCOURIR ******************* */

#avanced {
    width: 150px;
    height: 35px;
    /* margin-left: 20px; */
    font-size: .8rem;
    font-family: 'Quattrocento-Regular', sans-serif;
    background-color: #5a62be;
    border-radius: 10px;
    padding: 0 10px;
    border: none;
}

/********************* END PARCOURIR ************************/


/* ***************RECHERCHE ******************************/

button#btn-search {
    width: 120px;
    height: 35px;
    margin-left: 20px;
    font-size: 1rem;
    font-family: 'Quattrocento-Regular', sans-serif;
    background-color: #5a62be;
    border-radius: 10px;
    padding: 0 10px;
    border: none;
    color: white;
}

/* ***************END RECHERCHE *****************************/

/********************** PAGE INFOS PRATIQUES*************** */

.info {
    width: 100%;
    height: 900px;
    background: #4950a1;
}

.news {
    width: 100%;
    height: 800px;
}

.infos {
    width: 100%;
    height: 80px;
}

h2.infos {
    font-size: 2.5rem;
    font-family: 'QuattrocentoSans-Regular';
    font-weight: 600;
    text-align: center;
    margin-top: 60px;
    text-transform: uppercase;
    text-shadow: 0 0 2px violet;
    color: white;
}

.consignes {
    width: 70%;
    height: 600px;
    border: 2px solid white;
    margin-top: 50px;
    padding-top: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-style: italic;
    border-radius: 30px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px,
        rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

ol.consignes {
    text-align: center;
    font-family: 'QuattrocentoSans-Regular', sans-serif;
    font-weight: 500;
    color: white;
}

ol.consignes li {
    margin-bottom: 10px;
    line-height: 1.5;
}

/***************** END INFO PRATIQUES*********************** */

/* ------RESPONSIVE INFOS PRATIQUES------------------------  */
@media screen and (max-width: 400px) {

    /* styles à appliquer pour une résolution de 400px ou moins */
    .consignes {
        font-size: 12px;
        line-height: 1.2;
    }

    .infos {
        font-size: 20px;
        line-height: 1.2;
    }
}

/*********************** POP UP CONNEXION********************** */

#connexion {
    width: 100%;
    height: 500px;
    font-family: 'Quattrocento-Regular', sans-serif;
    position: absolute;
}

.lettreb {
    width: 100%;
    height: 100px;
}

img.b {
    width: 300px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.social-media {
    width: 100%;
    height: 25px;
}

form {
    width: 100%;
    height: 250px;
    padding: 40px 60px;
    border-radius: 10px;
}

.connect {
    width: 100%;
    height: 50px;
}

h2.connect {
    font-size: 2rem;
    font-family: 'QuattrocentoSans-Regular', sans-serif;
    font-weight: 700;
    text-align: center;
    color: #eb7371;
    text-align: center;
    padding-top: 10px;
}

.social-media {
    width: 100%;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.social-media p {
    margin-top: 20px;
    margin-right: 20px;
    width: 30px;
    text-align: center;
    cursor: pointer;
    color: black;
}

.social-media a {
    color: #000;
}

.social-media a:visited {
    color: #5a62be;
}

p.email {
    text-align: center;
    font-size: 1.3rem;
    font-family: 'QuattrocentoSans-Regular', sans-serif;
    font-weight: 600;
}

form .inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form .inputs input[type='email'],
input[type='password'] {
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    margin-bottom: 15px;
}

form p.inscription {
    font-size: 14px;
    margin-bottom: 20px;
    text-align: center;
}

.inscription a:visited {
    color: #4950a1;
}

p.inscription {
    font-size: 1.3rem;
    font-family: 'QuattrocentoSans-Regular', sans-serif;
    font-weight: 600;
    margin-top: 10px;
}

#btn-connect {
    width: 150px;
    height: 35px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    display: block;
    margin: auto;
    font-size: 1rem;
    font-family: 'QuattrocentoSans-Regular', sans-serif;
    font-weight: 500;
    background-color: #5a62be;
    cursor: pointer;
    color: white
}

/************************* FIN CONNEXION **********************/

/* --------------------RESPONSIVE CONNEXION------------------  */

@media only screen and (max-width: 400px) {

    /* Modifier la taille de la police pour la classe .connect */
    .connect {
        font-size: 1.2rem;
    }

    /* Cacher le texte "ou utiliser mon adresse e-mail" */
    .email {
        display: none;
    }

    /* Redimensionner les logos des réseaux sociaux */
    .social-media i {
        font-size: 16px;
    }

    /* Réduire la largeur des champs de saisie d'email et de mot de passe */
    input[type=email],
    input[type=password] {
        width: 90%;
    }

    /* Réduire la taille de la police pour le lien "J'ai oublié mon mot de passe" */
    .inscription a:first-of-type {
        font-size: 0.9rem;
    }

    /* Modifier la marge supérieure pour le bouton Se connecter */
    button[type=submit] {
        margin-top: 10px;
    }
}

/* ----------------END RESPONSIVE CONNEXION---------------- */

/************************ PAGE INSCRIPTION *********************/

body {
    width: 100%;
    height: 100%;
}

#bouquine {
    width: 400px;
    height: 500px;
    background-image: url(../image/logo2.png);
    background-repeat: no-repeat;
    background-position-y: left center;
}

#suscribe {
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
}

.container-suscribe {
    width: 50%;
    height: 550px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img-book {
    width: 500px;
    height: 500px;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 40px;
}

.img-book img {
    height: 500px;
}

.suscribe-form {
    width: 100%;
    height: 100%;
}

form#connect {
    height: 500px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

h2.sus-form {
    font-size: 1.8rem;
    font-family: 'QuattrocentoSans-Bold';
    font-weight: 400;
    text-align: center;
}

.input label {
    display: block;
    margin-bottom: 5px;
    font-size: 1rem;
    font-family: 'QuattrocentoSans-Regular';
    font-weight: 600;
}

input#username {
    background-color: white;
}

.input input {
    width: 400px;
    height: 35px;
    font-size: 1rem;
    font-family: 'QuattrocentoSans-Regular';
    font-weight: 600;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: white;
}

input#password {
    width: 400px;
    border: 2px solid black;
    background-color: white;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 10px;
}

input#mail {
    width: 400px;
    border: 2px solid black;
    background-color: white;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 10px;
}

input#birth {
    width: 400px;
    border: 2px solid black;
    background-color: white;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 10px;
}

input#phone {
    width: 400px;
    border: 2px solid black;
    background-color: white;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 10px;
}

#btn-create {
    width: 150px;
    height: 35px;
    padding: 10px 20px;
    background-color: #5a62be;
    border-radius: 5px;
    border: none;
}

#btn-create a {
    font-size: .8rem;
    font-family: 'QuattrocentoSans-Regular';
    font-weight: 500;
    cursor: pointer;
    color: white;
}

/* ***********************END INSCRIPTION **********************/

/* ***************RESPONSIVE INSCRIPTION********************* */

@media only screen and (max-width: 400px) {
    .suscribe-form {
        width: 100%;
        margin: 0;
        padding: 20px;
    }

    .img-book {
        display: none;
    }

    .input {
        display: flex;
        flex-direction: column;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"],
    input[type="date"],
    select {
        margin: 10px 0;
        width: 100%;
    }

    button[type="submit"] {
        margin-top: 20px;
        width: 100%;
    }
}

/****************** END RESPONSIVE INSCRIPTION*************** */

/******************** PAGE RECHERCHE AVANCEE ********************/

.filter {
    max-width: auto;
    height: auto;
}

.filter-container {
    margin: 20px auto;
    max-width: 600px;
    height: 1000px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

h2.search-filter {
    font-size: 1.8rem;
    margin-bottom: 20px;
    font-family: 'QuattrocentoSans-Regular', sans-serif;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-family: 'QuattrocentoSans-Regular', sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: #000;
}

input[type="text"],
select,
input[type="number"] {
    font-family: 'QuattrocentoSans-Regular', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: white;
}

input[type="submit"] {
    font-size: 1rem;
    font-family: 'QuattrocentoSans-Regular', sans-serif;
    padding: 10px;
    background-color: #74EC8D;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

/******************** END PAGE RECHERCHE AVANCEE************** */

/* -------RESPONSIVE RECHERCHE AVANCEE-----------************ */

@media screen and (max-width: 400px) {

    .filter-container {
        width: 90%;
        margin: 0 auto;
    }

    .filter form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .filter form label,
    .filter form input,
    .filter form select {
        width: 45%;
        margin-bottom: 10px;
    }
}

/* ------------END RESPONSIVE RECHERCHE AVANCEE ***************/


/* *********************DASHBOARD USER ************************/

body {
    width: 100%;
    height: 450px;
}

.dashboard1 {
    width: 100%;
    height: 30px;
}

.dashboard1 h2 {
    font-size: 1.3rem;
    font-family: 'QuattrocentoSans-Regular', sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
}

#user-nav {
    width: 350px;
    height: 450px;
    background-color: #f39c12;
    position: absolute;
    top: 120px;
    left: 0;
}

#user-nav ul {
    width: 350px;
    height: 400px;
    display: block;
}

#user-nav li a {
    width: 350px;
    height: 100px;
    display: block;
    font-size: 1.2rem;
    font-family: 'QuattrocentoSans-Bold', sans-serif;
    color: black;
    text-align: center;
    padding: 0 10px;
    transition: all 0.8s ease;
}

#user-nav li a:hover {
    background-color: #e88e17d6;
}

.info1 {
    width: 700px;
    height: 400px;
    background-color: #f6b339;
    border: 1px solid black;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: 90px;
    transform: translate(-50%, -50%);
    margin-top: 80px;
    /* display: none; */
}

.info-perso {
    font-size: 1.2rem;
    font-family: 'QuattrocentoSans-Bold', sans-serif;
    text-align: center;
}

.names {
    width: 400px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

form#dash-form {
    width: 650px;
    height: 450px;
    display: flex;
    align-items: center;
}

label {
    font-size: 1.2rem;
    font-family: 'QuattrocentoSans-Bold', sans-serif;
    display: block;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
    width: 250px;
    height: 35px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: white;
    margin-top: 10px;
}

input[type="submit"] {
    width: 130px;
    background-color: #74EC8D;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

input.adress {
    width: 450px;
    margin: 0;
}

input[type="email"]#email1 {
    width: 450px;
}

input[type="tel"]#telephone {
    width: 450px;
    padding: 10px;
    background-color: white;
}

/* ********************END DASHBOARD USER **********************/

/* ************** RESPONSIVE MOBILE DASHBOARD USER*********** */

@media screen and (max-width: 400px) {

    #user-nav {
        display: none;
    }

    h2,
    h3 {
     font-size: 1.2rem;
    }

    .info1 {
    flex-direction: column;
    }

    .names,
    label {
     display: block;
     margin: 10px 0;
    }

    input[type="submit"] {
     margin-bottom: 20px;
    }
}

/* *******END RESPONSIVE MOBILE DASHBOARD USER************* */